@charset "UTF-8";
/* Colors */
/* Sizes */
/* percentages of 940 */
/* Other variables */
@import url("https://p.typekit.net/p.css?s=1&k=vfy2phd&ht=tk&f=14541.14543.14545.14548.14549.18436.18438.18445&a=16372337&app=typekit&e=css");
.section-title { max-width: 960px; margin: 60px auto 20px; padding: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; font-size: 30px; line-height: 40px; }
.section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5, .section-title h6 { font-family: "azo-sans-web", sans-serif; text-transform: uppercase; letter-spacing: .03em; font-size: 100%; }
.section-title.section-title--central { max-width: 620px; text-align: center; }
.section-title.section-title--central h1, .section-title.section-title--central h2, .section-title.section-title--central h3, .section-title.section-title--central h4, .section-title.section-title--central h5, .section-title.section-title--central h6 { margin-right: 0; }
.section-title.section-title--wrapped { border: 0; max-width: 100%; }
@media (min-width: 500px) { .section-title { margin-bottom: 40px; } }
@media (min-width: 768px) { .section-title { padding-left: 0; padding-right: 0; } }
@media (min-width: 901px) { .section-title { margin-top: 80px; margin-bottom: 80px; }
  .section-title h1, .section-title h2, .section-title h3, .section-title h4, .section-title h5, .section-title h6 { margin-right: 480px; } }

.section-title__pretitle { font-size: 24px; line-height: 1.6666666667; }

/* The Typekit service used to deliver this font or fonts for use on websites is provided by Adobe and is subject to these Terms of Use http://www.adobe.com/products/eulas/tou_typekit. For font license information, see the list below.  azo-sans-web: - http://typekit.com/eulas/00000000000000003b9afbbc - http://typekit.com/eulas/000000000000000000013f4e - http://typekit.com/eulas/000000000000000000013f8f open-sans: - http://typekit.com/eulas/000000000000000000011c34 - http://typekit.com/eulas/000000000000000000011c36 - http://typekit.com/eulas/000000000000000000011c38 - http://typekit.com/eulas/000000000000000000011c3b - http://typekit.com/eulas/000000000000000000011c3c  © 2009-2019 Adobe Systems Incorporated. All Rights Reserved. */
/*{"last_published":"2019-03-26 10:42:11 UTC"}*/
@font-face { font-family: "open-sans"; src: url("https://use.typekit.net/af/2553b3/000000000000000000011c34/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/2553b3/000000000000000000011c34/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/2553b3/000000000000000000011c34/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n7&v=3") format("opentype"); font-style: normal; font-weight: 700; }
@font-face { font-family: "open-sans"; src: url("https://use.typekit.net/af/2eef30/000000000000000000011c36/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n8&v=3") format("woff2"), url("https://use.typekit.net/af/2eef30/000000000000000000011c36/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n8&v=3") format("woff"), url("https://use.typekit.net/af/2eef30/000000000000000000011c36/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n8&v=3") format("opentype"); font-style: normal; font-weight: 800; }
@font-face { font-family: "open-sans"; src: url("https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=i4&v=3") format("woff2"), url("https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=i4&v=3") format("woff"), url("https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=i4&v=3") format("opentype"); font-style: italic; font-weight: 400; }
@font-face { font-family: "open-sans"; src: url("https://use.typekit.net/af/827015/000000000000000000011c3b/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/827015/000000000000000000011c3b/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/827015/000000000000000000011c3b/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n4&v=3") format("opentype"); font-style: normal; font-weight: 400; }
@font-face { font-family: "open-sans"; src: url("https://use.typekit.net/af/270ae4/000000000000000000011c3c/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n6&v=3") format("woff2"), url("https://use.typekit.net/af/270ae4/000000000000000000011c3c/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n6&v=3") format("woff"), url("https://use.typekit.net/af/270ae4/000000000000000000011c3c/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n6&v=3") format("opentype"); font-style: normal; font-weight: 600; }
@font-face { font-family: "azo-sans-web"; src: url("https://use.typekit.net/af/b4692e/00000000000000003b9afbbc/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n9&v=3") format("woff2"), url("https://use.typekit.net/af/b4692e/00000000000000003b9afbbc/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n9&v=3") format("woff"), url("https://use.typekit.net/af/b4692e/00000000000000003b9afbbc/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n9&v=3") format("opentype"); font-style: normal; font-weight: 900; }
@font-face { font-family: "azo-sans-web"; src: url("https://use.typekit.net/af/9aa4fe/000000000000000000013f4e/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/9aa4fe/000000000000000000013f4e/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/9aa4fe/000000000000000000013f4e/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n7&v=3") format("opentype"); font-style: normal; font-weight: 700; }
@font-face { font-family: "azo-sans-web"; src: url("https://use.typekit.net/af/9dc3b1/000000000000000000013f8f/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/9dc3b1/000000000000000000013f8f/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/9dc3b1/000000000000000000013f8f/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n4&v=3") format("opentype"); font-style: normal; font-weight: 400; }
.tk-open-sans { font-family: "open-sans",sans-serif; }

.tk-azo-sans-web { font-family: "azo-sans-web",sans-serif; }

/* GENERAL */
* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

html, body { width: 100%; margin: 0; padding: 0; font-family: "open-sans", sans-serif; font-size: 16px; line-height: 1.5; color: #222; }

body { display: flex; flex-direction: column; }
body > * { order: 2; }
body .page-wrap { -webkit-overflow-scrolling: touch; }
body .notice { order: 1; }

h1, h2, h3, h4, h5, h6 { margin: 0 0 20px; }

a { color: #578FFF; text-decoration: underline; cursor: pointer; position: relative; font-weight: 600; }
a svg.more-icon { display: inline-block; width: 8px; height: 14px; position: relative; top: 2px; left: 6px; fill: #578FFF; }
a svg.download-icon { display: inline-block; width: 10px; height: 14px; position: relative; top: 2px; left: 6px; fill: #578FFF; }

a:hover { color: #0062FF; }
a:hover svg.more-icon { fill: #0062FF; }
a:hover svg.download-icon { fill: #0062FF; }

.a--light { text-decoration: none; font-weight: normal; }

.text--semibold { font-weight: 600; }

.text--uppercase { text-transform: uppercase; }

small { font-size: .75em; }

.hidden { display: none !important; visibility: hidden !important; }

.nowrap { white-space: nowrap; }

@media (min-width: 960px) { .debug { background-image: url(/assets/img/columns-960x20.png) !important; background-repeat: repeat-y !important; background-position: top center !important; } }

@media (min-width: 960px) { .debug16 { background-image: url(/assets/img/columns-960x20-16.png) !important; background-repeat: repeat-y !important; background-position: top center !important; } }

.debug-wrapper { z-index: 0; position: relative; }

input[type="text"], input[type="email"] { display: inline; border: 0; height: 40px; min-width: 20em; padding: 8px 1.5em; vertical-align: top; font-size: 16px; }

button { /* default button style sets the font, so override */ font-family: "open-sans", sans-serif; font-size: 16px; line-height: 1.5; }

button, .btn { display: inline-block; min-width: 140px; padding: 13px 20px; background-color: #578FFF; color: #fff; font-size: 14px; font-weight: bold; line-height: 1; letter-spacing: .05em; outline: none; border: none; box-shadow: none; text-align: center; text-transform: uppercase; text-decoration: none; text-shadow: none; cursor: pointer; border-radius: 1px; }

button:hover, .btn:hover { color: #fff; background-color: #0062FF; }

.btn--inverse { color: #578FFF; background-color: #fff; box-shadow: inset 0 0 0 1px #578FFF; }

.btn--inverse:hover { color: #0062FF; background-color: #fff; box-shadow: inset 0 0 0 1px #0062FF; }

.btn--image { border: 0; padding: 0; min-width: 0; background-color: transparent; }
.btn--image img, .btn--image svg { height: 100%; }

.btn--image:hover { background-color: transparent; }

.btn--primary { color: #fff; background-color: #B855FF; }

.btn--primary:hover { background-color: #7900F9; }

.btn--primary--inverse { color: #B855FF; background-color: #fff; box-shadow: inset 0 0 0 1px #B855FF; }

.btn--primary--inverse:hover { color: #7900F9; background-color: #fff; box-shadow: inset 0 0 0 1px #7900F9; }

.btn--secondary { background-color: #fff; color: #578FFF; }

.btn--secondary:hover { background-color: #fff; color: #B855FF; }

.btn--secondary--border { border: solid #578FFF 1px; }

select { background-color: #ddd; font-size: 16px; -webkit-appearance: none; -moz-appearance: none; appearance: none; padding: 5px; }

select:focus { outline: none; }

select { /* styling */ background-color: #ddd; border: none; border-radius: 0; display: inline-block; font: inherit; padding: 10px 40px 10px 10px; /* reset */ margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-appearance: none; -moz-appearance: none; /* arrows */ background-image: linear-gradient(45deg, transparent 50%, #38393F 50%), linear-gradient(135deg, #38393F 50%, transparent 50%); background-position: calc(100% - 25px) 1em, calc(100% - 15px) 1em; background-size: 10px 10px, 10px 10px; background-repeat: no-repeat; }

/* MODULES */
nav.top { display: flex; justify-content: space-between; position: relative; height: 60px; width: 100%; max-width: 960px; margin: 20px auto 40px; border-left: 10px solid transparent; border-right: 10px solid transparent; /* LOGO */  /*
.navigation:before {
	position: absolute;
	left: 0;
	top: 20px;
	content: "";
	width: 100%;
	height: 14px;
	border: 1px solid red;
	z-index: 100;
}*/ /* PERSONAL / BUSINESS SITE SWITCH */ /* SITE SUBPAGES */ /* NAV FOR MOBILE ONLY */ /* NAVIGATION ACTION BUTTON */ }
nav.top .logo { display: block; margin-right: 20px; }
nav.top .logo-image { position: relative; height: 36px; }
nav.top .show-menu { width: 0; height: 0; display: none; }
nav.top .show-menu-icon--open, nav.top .show-menu-icon--close { width: 40px; height: 40px; display: none; }
nav.top .show-menu-icon__icon { width: 40px; height: 40px; }
nav.top .navigation { display: flex; height: 100%; }
nav.top .mainnav { display: flex; width: 140px; align-items: center; list-style-type: none; margin: 0 20px 1px 0; padding-left: 0; }
nav.top .mainnav > li { margin-right: 20px; }
nav.top .mainnav__link { color: #222; opacity: .4; text-decoration: none; text-transform: uppercase; }
nav.top .mainnav__link .mainnav__link__icon { width: 10px; margin-bottom: -4px; }
nav.top .mainnav__link:hover { opacity: 1; }
nav.top .mainnav__link--selected { opacity: 1; font-weight: bold; border-bottom: 5px solid rgba(0, 0, 0, 0.2); }
nav.top .mainnav__link--collapsed_only { display: none; }
nav.top .subnav { display: flex; align-items: center; list-style-type: none; margin: 0 0 1px; padding-left: 0; text-transform: lowercase; }
nav.top .subnav > li { flex: auto; margin-left: 10px; }
@media (min-width: 824px) { nav.top .subnav > li { margin-left: 20px; } }
nav.top .subnav + .subnav { position: relative; text-transform: none; margin-left: 10px; }
@media (min-width: 824px) { nav.top .subnav + .subnav { margin-left: 20px; } }
nav.top .subnav + .subnav:before { position: absolute; left: -.25em; content: "|"; }
nav.top .subnav__link { color: #222; font-weight: normal; text-decoration: none; }
nav.top .subnav__link:hover { border-bottom: 5px solid rgba(0, 0, 0, 0.2); }
nav.top .subnav__link--selected { color: #222; font-weight: bold; border-bottom: 5px solid rgba(0, 0, 0, 0.4); text-decoration: none; }
nav.top .subnav__link--offer { color: #B855FF; }
nav.top .mobilenav { display: none; }
nav.top .get-klevio { display: inline-block; height: 100%; min-width: 140px; width: 140px; margin: 0 0 0 20px; padding: 20px 0; color: #fff; font-weight: bold; text-align: center; text-decoration: none; text-transform: uppercase; line-height: 20px; }

@media (max-width: 767px) { nav.top { display: block; margin-top: 0; margin-bottom: 0; padding: 20px 0; height: auto; /* PERSONAL / BUSINESS SITE SWITCH */ /* SITE SUBPAGES */ /* NAV FOR MOBILE ONLY */ /* NAVIGATION ACTION BUTTON */ }
  nav.top .navigation { flex-direction: column; height: 0; overflow: hidden; transition: height 0.3s; line-height: 20px; }
  nav.top .mainnav__link .mainnav__link__icon { display: none; }
  nav.top .mainnav__link--collapsed_only { display: inline; }
  nav.top .show-menu-icon--open, nav.top .show-menu-icon--close { position: absolute; top: 20px; right: 0; }
  nav.top .show-menu-icon--open { display: block; }
  nav.top .show-menu-icon--close { display: none; }
  nav.top .show-menu:checked ~ .show-menu-icon--open { display: none; }
  nav.top .show-menu:checked ~ .show-menu-icon--close { display: block; }
  nav.top .show-menu:checked ~ .navigation { display: flex; height: 424px; width: 100%; transition: height 0.3s; border-bottom: 2px solid #222; }
  nav.top .show-menu:checked ~ .navigation > div { clear: both; width: 100%; }
  nav.top .mainnav { display: block; margin-left: 0; width: auto; padding: 40px 20px 20px 0; }
  nav.top .mainnav > li { margin-top: 10px; }
  nav.top .subnav { display: block; margin-left: 0; padding: 0 20px 20px 0; position: relative; }
  nav.top .subnav > li { margin-top: 20px; }
  nav.top .subnav:before { display: block; content: ""; border-top: 2px solid #222; width: 20px; margin-bottom: 20px; position: absolute; top: 0; }
  nav.top .subnav + .subnav { margin-left: 0; }
  nav.top .subnav + .subnav:before { content: ""; left: 0; }
  nav.top .mobilenav { display: block; margin: 0; padding: 0 20px 20px 0; position: relative; list-style-type: none; }
  nav.top .mobilenav > li { margin-top: 10px; }
  nav.top .mobilenav:before { display: block; content: ""; border-top: 2px solid #222; width: 20px; margin-bottom: 20px; position: absolute; top: 0; }
  nav.top .mobilenav__link { color: #222; font-weight: 600; text-decoration: none; text-transform: uppercase; }
  nav.top .mobilenav__link--selected { color: #222; font-weight: bold; border-bottom: 5px solid rgba(0, 0, 0, 0.4); text-decoration: none; }
  nav.top .mobilenav__amp { font-style: normal; font-weight: normal; }
  nav.top .get-klevio { display: none; } }
.newintro { position: relative; overflow: hidden; width: 100%; }
.newintro.newintro--background { height: 350px; /* this is actually min-height */ transition: padding-bottom 1s; }
.newintro.newintro--background:after { content: ""; position: absolute; left: 0; right: 0; top: 0; width: 100%; height: 100%; background: linear-gradient(white, rgba(255, 255, 255, 0.8) 30%, rgba(255, 255, 255, 0) 90%); z-index: 1; transition: background 1s; }
@media (min-width: 960px) { .newintro.newintro--background:after { background: linear-gradient(white 20%, rgba(255, 255, 255, 0)); } }
@media (min-width: 1440px) { .newintro.newintro--background:after { background: linear-gradient(white 10%, rgba(255, 255, 255, 0)); } }
@media (min-width: 1920px) { .newintro.newintro--background:after { background: linear-gradient(white 0%, rgba(255, 255, 255, 0)); } }
.newintro.newintro--bigbackground { /* landscape */ /* portrait */ }
@media screen and (orientation: landscape) { .newintro.newintro--bigbackground { padding-bottom: 60%; }
  .newintro.newintro--bigbackground .newintro__background__media--portrait { display: none; }
  .newintro.newintro--bigbackground .newintro__background__media--landscape { display: block; } }
@media screen and (orientation: landscape) and (min-width: 960px) { .newintro.newintro--bigbackground { padding-bottom: 60%; } }
@media screen and (orientation: landscape) and (min-width: 1440px) { .newintro.newintro--bigbackground { padding-bottom: 50%; } }
@media screen and (orientation: landscape) and (min-width: 1920px) { .newintro.newintro--bigbackground { padding-bottom: 45%; } }
@media screen and (orientation: portrait) { .newintro.newintro--bigbackground { padding-bottom: 115%; }
  .newintro.newintro--bigbackground .newintro__background__media--portrait { display: block; }
  .newintro.newintro--bigbackground .newintro__background__media--landscape { display: none; } }
@media screen and (orientation: portrait) and (min-width: 415px) { .newintro.newintro--bigbackground { padding-bottom: 100%; } }
@media screen and (orientation: portrait) and (min-width: 600px) { .newintro.newintro--bigbackground { padding-bottom: 80%; } }
@media screen and (orientation: portrait) and (min-width: 900px) { .newintro.newintro--bigbackground { padding-bottom: 75%; } }
.newintro.newintro--bigbackground--white:after { display: none; }
.newintro.newintro--smallbackground { padding-bottom: 0; /* landscape */ /* portrait */ }
.newintro.newintro--smallbackground:after { background: linear-gradient(white, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0) 100%); }
.newintro.newintro--smallbackground .newintro__background:after { height: 75%; }
@media screen and (orientation: landscape) { .newintro.newintro--smallbackground .newintro__background__media--portrait { display: none; }
  .newintro.newintro--smallbackground .newintro__background__media--landscape { display: block; } }
@media screen and (orientation: portrait) { .newintro.newintro--smallbackground .newintro__background__media--portrait { display: block; }
  .newintro.newintro--smallbackground .newintro__background__media--landscape { display: none; } }

.newintro__background { position: absolute; bottom: 0; left: 0; right: 0; width: 100%; transition: top 1s; /*
&--white {
	&:after {
		display: none;
	}
} */ }
.newintro__background:after { content: ""; position: absolute; left: 0; right: 0; top: 0; width: 100%; height: 50%; background: linear-gradient(white, rgba(255, 255, 255, 0)); z-index: 1; }

.newintro__background__media { display: block; width: 100%; }

.newintro__content { position: relative; top: 0; width: 960px; border-left: 10px solid transparent; border-right: 10px solid transparent; max-width: 100%; margin: 0 auto; z-index: 2; text-shadow: 0 0 10px #fff; }
@media (max-width: 960px) { .newintro__content { padding: 20px 0; } }
.newintro__content .btn { padding-top: 20px; padding-bottom: 20px; }

.newintro__content__title { opacity: .7; padding: 0; }
.newintro__content__title h1 { font-family: "azo-sans-web", sans-serif; line-height: 1.3333333333; text-transform: uppercase; font-weight: 900; font-size: 30px; }
@media screen and (min-width: 320px) { .newintro__content__title h1 { font-size: calc(30px + 30 * ((100vw - 320px) / 680)); } }
@media screen and (min-width: 1000px) { .newintro__content__title h1 { font-size: 60px; } }

.newintro__content__title__lead { font-size: 20px; opacity: .6; }
@media screen and (min-width: 320px) { .newintro__content__title__lead { font-size: calc(20px + 20 * ((100vw - 320px) / 680)); } }
@media screen and (min-width: 1000px) { .newintro__content__title__lead { font-size: 40px; } }

.newintro__content__subtitle { text-align: right; padding: 0 10px; opacity: .6; }
.newintro__content__subtitle h2 { font-weight: 400; line-height: 1.25; text-align: right; font-size: 20px; }
@media screen and (min-width: 320px) { .newintro__content__subtitle h2 { font-size: calc(20px + 20 * ((100vw - 320px) / 680)); } }
@media screen and (min-width: 1000px) { .newintro__content__subtitle h2 { font-size: 40px; } }
.newintro__content__subtitle h2:last-child { margin-bottom: 0; }
@media (min-width: 768px) { .newintro__content__subtitle { padding: 0 0 0 80px; } }
@media (min-width: 960px) { .newintro__content__subtitle { padding: 0 0 0 160px; } }

.newintro__content__body { padding: 0; }
.newintro__content__body h2 { font-weight: 400; line-height: 1.25; font-size: 20px; opacity: .6; }
.newintro__content__body a:not(.btn) { font-weight: normal; }
.newintro__content__body .btn { margin: 0 1.428571em 1.428571em 0; }

/*
Usual structure:
icontent (icontent--backgroundgrey) (icontent--paddingtop) (icontent--nomargin)
	section-title
	icontent__box (icontent__box--mediaright)
		icontent__media
		icontent__text
	icontent__band
		icontent__box
			icontent__media
			icontent__text

Sizes:
- media: 6
- text 5
- layouts:
	- media - text - (empty)
	- (empty) - text - media (in icontent__box--mediaright)

Exception:
icontent
	section-title
	icontent__box
		icontent__text
		icontent__text

Solution:
- margin set on __text
- no margins on __media
- width and margin set in % (needs 100% for flex, otherwise weird things happen)
 */
.icontent__band { background-color: #f7f7f7; overflow: hidden; }
.icontent__band.icontent__band--dark { background-color: #38393F; color: #AFB0B2; }

.icontent__box { margin: 40px auto; border-left: 10px solid transparent; border-right: 10px solid transparent; display: flex; flex-direction: column; }
.icontent__box.icontent__box--nobottom { margin-bottom: 0; }
.icontent__box.icontent__box--nomargin { margin-bottom: 0; margin-top: 0; }
@media (max-width: 767px) { .icontent__box.icontent__box--texttop { flex-direction: column-reverse; }
  .icontent__box.icontent__box--texttop .icontent__text { padding-top: 0; padding-bottom: 20px; } }
.icontent__box.icontent__box--mediafloatedright .icontent__text { padding: 0; margin: 0; }
.icontent__box.icontent__box--mediafloatedright .icontent__first { order: -1; }
@media (min-width: 500px) { .icontent__box { border-left: 10px solid transparent; border-right: 10px solid transparent; max-width: icontent__box; } }
@media (min-width: 768px) { .icontent__box { margin: 80px auto; flex-direction: row; max-width: 960px; }
  .icontent__box.icontent__box--texttop { flex-direction: row; }
  .icontent__box.icontent__box--mediaright { flex-direction: row-reverse; }
  .icontent__box.icontent__box--mediaright .icontent__text { margin: 0 2.1276595745% 0 0; padding: 0 2.1276595745% 0 0; }
  .icontent__box.icontent__box--mediafloatedright { display: block; }
  .icontent__box.icontent__box--mediafloatedright .icontent__media { float: right; } }

.section-title + .icontent__box, .icontent__box + .icontent__box { padding-top: 0; }

.icontent__media { padding: 0; margin: 0; line-height: 0; }
.icontent__media > div { position: relative; }
.icontent__media > iframe { max-width: 100%; }
.icontent__media img { display: block; max-width: 100%; }
.icontent__media img.img--landscape { display: block; }
@media screen and (orientation: portrait) { .icontent__media img.img--landscape { display: none; } }
.icontent__media img.img--portrait { display: none; }
@media screen and (orientation: portrait) { .icontent__media img.img--portrait { display: block; } }
.icontent__media a { position: absolute; top: 0; right: 0; }
.icontent__media a button { padding-top: 20px; padding-bottom: 20px; }
.icontent__media.icontent__media--phone { width: 100%; text-align: center; position: relative; z-index: 1; overflow: hidden; margin-bottom: 0; }
.icontent__media.icontent__media--phone .icontent__media--phone__phone { position: relative; margin-bottom: -2%; }
.icontent__media.icontent__media--phone .icontent__media--phone__phone--full { margin-bottom: 0; }
.icontent__media.icontent__media--phone .icontent__media--phone__phone img { padding-left: 21%; padding-right: 21%; position: relative; }
@media (min-width: 768px) { .icontent__media { width: 48.9361702128%; }
  .icontent__media.icontent__media--phone { width: 48.9361702128%; }
  .icontent__media a { top: unset; bottom: 0; } }

.icontent__text { padding: 20px 0 0; margin: 0; }
@media (min-width: 768px) { .icontent__text { width: 48.9361702128%; margin: 0 0 0 2.1276595745%; padding: 0 0 0 2.1276595745%; }
  .icontent__text:first-child { /* exception where we have 2 icontent__text elements - aboutus.html */ margin-left: 0; margin-right: 0; padding: 0 2.1276595745% 0 0; }
  .icontent__text + .icontent__text { padding: 0 2.1276595745% 0 0; }
  .icontent__text.icontent__text--mid { padding-top: 20px; }
  .icontent__text.icontent__text--low { padding-top: 40px; }
  .icontent__text.icontent__text--wide { width: 91.4893617021%; } }

 /*
@media (min-width: $breakPoint) {
	.icontent__media + .icontent__text {
		padding-left: $fullgridcol/2;
		padding-right: $fullgridcol/2;
	}
}*/
.icontent__subtitle { font-weight: 400; margin: 0 0 20px; font-size: 1.5em; line-height: 1.25; }
@media (min-width: 500px) { .icontent__subtitle { font-size: 1.5em; line-height: 1.25; } }

.icontent__content h3 { font-size: 1em; text-transform: uppercase; margin: 0; }
.icontent__content h4 { font-size: 1em; margin: 0; }
.icontent__content p { margin: 0 0 20px; }
.icontent__content p:last-child { margin-bottom: 0; }
.icontent__content ul { padding-left: 1.5em; margin: 0 0 20px; }
.icontent__content ul:last-child { margin-bottom: 0; }
.icontent__content em { font-style: normal; font-weight: 600; color: #000; }
.icontent__content a:not(.btn) { color: #578FFF; font-weight: normal; }
.icontent__content a:not(.btn):hover { color: #0062FF; }
.icontent__content .with-next { margin-bottom: 0; }

.icontent__image--padded { padding: 10px 0; }

/* CAREERS */
.icontent--careers { overflow: hidden; margin-bottom: 40px; }
.icontent--careers .section-title h1 + h2 { font-family: "open-sans", sans-serif; font-size: 16px; line-height: 20px; }
.icontent--careers .icontent__box { margin-top: 0; margin-bottom: 40px; }

/* HERO */
.icontent--hero h2 { padding: 0; opacity: .6; font-weight: 400; line-height: 1.25; font-size: 20px; }
@media screen and (min-width: 320px) { .icontent--hero h2 { font-size: calc(20px + 20 * ((100vw - 320px) / 680)); } }
@media screen and (min-width: 1000px) { .icontent--hero h2 { font-size: 40px; } }
.icontent--hero .btn { width: 380px; max-width: 100%; }

.list { width: 100%; overflow: hidden; background-color: #f7f7f7; }

.list__wrap { max-width: 960px; margin: 80px auto; display: flex; flex-wrap: wrap; justify-content: space-around; position: relative; }

.list__options--narrow .list__option { width: 160px; }

.list__span--nowrap { white-space: nowrap; }

.list__action { display: none; }

.list__option { position: relative; top: 40px; width: 140px; text-align: center; cursor: pointer; margin-top: -40px; z-index: 1; }

.list__option-number, .list__option-iconwrap { display: inline-block; width: 80px; height: 80px; margin: 10px; background-color: #AFB0B2; border-radius: 50%; transition: all 0.3s; }

.list__option-number:hover, .list__option-iconwrap:hover { background-color: #222; }

.list__option-number { padding-top: 24px; color: #fff; font-size: 32px; font-weight: bold; line-height: 1; }

.list__option-icon { width: 80px; height: 80px; fill: #fff; }

.list__option-icon.icon-secure { position: relative; left: 2px; top: 1px; }

.list__option-title { display: inline-block; width: 100%; height: 20px; margin-top: 20px; text-transform: uppercase; font-family: "azo-sans-web", sans-serif; }

.list__action:checked + .list__option { z-index: 2; }
.list__action:checked + .list__option .list__option-number, .list__action:checked + .list__option .list__option-iconwrap { width: 100px; height: 100px; margin: 0; padding-top: 10px; text-align: center; background-color: #00EABD; transition: all 0.3s; box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); }
.list__action:checked + .list__option .list__option-number { padding-top: 34px; }
.list__action:checked + .list__option .list__option-title { font-family: "azo-sans-web", sans-serif; margin-top: 20px; color: #578FFF; font-weight: bold; }

.list__items-wrap { position: relative; width: 100%; overflow: hidden; top: -60px; margin: 0 10px -60px; background-color: #fff; }
.list__items-wrap .nav__control { position: absolute; display: flex; align-items: center; justify-content: center; width: 70px; height: 70px; top: 50%; transform: translateY(-35px); padding: 10px; background-color: #fff; fill: #AFB0B2; cursor: pointer; }
.list__items-wrap .nav__control--left { left: 0; }
.list__items-wrap .nav__control--right { right: 0; }

.list__items-window { width: calc(100% - 160px); margin: 0 80px; overflow: hidden; }

.list__items { width: 500%; overflow: hidden; margin: 160px 0 0; padding-left: 0; list-style-type: none; }

.list__item { float: left; width: 20%; display: flex; }

.list__itemcontent { width: 50%; border-right: 10px solid transparent; padding: 0 0 60px; }
.list__itemcontent p { margin: 0 0 10px; }
.list__itemcontent p:last-child { margin: 0 0 40px; }
.list__itemcontent ul { padding-left: 30px; margin: 0 0 40px; list-style-type: disc; }
.list__itemcontent em { font-style: normal; font-weight: 600; color: #000; }

.list__itemheader { font-family: "open-sans", sans-serif; font-size: 24px; font-weight: normal; margin: 0 0 20px; }

.list__itemimage { width: 50%; padding-left: 10px; padding-bottom: 20px; line-height: 0; }
.list__itemimage img { width: 100%; }

.list__footnote { order: 3; margin: 40px 0; }
.list__footnote p { margin: 0; }
@media (max-width: 700px) { .list__footnote { margin: 20px 10px; } }

/* Switcher */
.list__action:checked ~ .list__items-wrap .list__items { transition: margin-left 0.3s; }

#opt1:checked ~ .list__items-wrap .list__items, #opt6:checked ~ .list__items-wrap .list__items { margin-left: 0; }

#opt2:checked ~ .list__items-wrap .list__items, #opt7:checked ~ .list__items-wrap .list__items { margin-left: -100%; }

#opt3:checked ~ .list__items-wrap .list__items, #opt8:checked ~ .list__items-wrap .list__items { margin-left: -200%; }

#opt4:checked ~ .list__items-wrap .list__items, #opt9:checked ~ .list__items-wrap .list__items { margin-left: -300%; }

#opt5:checked ~ .list__items-wrap .list__items, #opt10:checked ~ .list__items-wrap .list__items { margin-left: -400%; }

@media (max-width: 960px) { .list__wrap { margin: 120px auto 80px; }
  .list__options--narrow .list__option, .list__option { top: 10px; width: 100px; }
  .list__itemcontent { padding: 20px 40px; }
  .list__option-title { display: none; }
  .list__items { margin-top: 100px; }
  .list__itemcontent { padding: 0 20px 40px; } }
@media (max-width: 900px) { .list__wrap { margin: 40px 10px; border-left: 0; border-right: 0; }
  .list__options--narrow .list__option, .list__option { order: 3; top: -40px; width: auto; }
  .list__options--narrow .list__option--big, .list__option--big { top: -60px; width: 70px; }
  .list__option-number, .list__option-iconwrap { width: 60px; height: 60px; margin: 5px; }
  .list__option--big .list__option-number, .list__option--big .list__option-iconwrap { width: 60px; height: 60px; }
  .list__option-number { padding-top: 20px; font-size: 20px; }
  .list__option--big .list__option-number--big { padding-top: 20px; }
  .list__option-icon { width: 60px; height: 60px; }
  .list__option--big .list__option-icon { width: 60px; height: 60px; }
  .list__option-icon.icon-secure { position: relative; left: 1px; top: 0; }
  .list__action:checked + .list__option .list__option-number, .list__action:checked + .list__option .list__option-iconwrap { width: 70px; height: 70px; margin: 0; padding-top: 5px; }
  .list__action:checked + .list__option .list__option-number { padding-top: 25px; }
  .list__action:checked + .list__option--big .list__option-number, .list__action:checked + .list__option--big .list__option-iconwrap { width: 70px; height: 70px; margin: 0; padding-top: 5px; }
  .list__action:checked + .list__option--big .list__option-number { padding-top: 25px; }
  .list__option-title { display: none; }
  .list__items-wrap { order: 2; top: 0; margin: 0; }
  .list__items { width: 500%; overflow: hidden; margin: 0 0 100px; padding-left: 0; }
  .list__item { flex-direction: column-reverse; }
  .list__itemcontent { width: 100%; padding: 10px; border-right: 0; }
  .list__itemimage { width: 100%; padding: 60px 15%; } }
@media (max-width: 700px) { .list__itemimage { width: 100%; padding: 60px 0; } }
@media (max-width: 550px) { .list__items { margin: 0 0 80px; }
  .list__items-window { width: 100%; margin: 0; }
  .list__itemimage { padding: 0; }
  .list__itemcontent { padding: 40px 40px 0; }
  .list__option-number, .list__option-iconwrap { width: 40px; height: 40px; margin: 5px; }
  .list__option-number { padding-top: 10px; }
  .list__option-icon { width: 40px; height: 40px; }
  .list__action:checked + .list__option .list__option-number, .list__action:checked + .list__option .list__option-iconwrap { width: 50px; height: 50px; margin: 0; padding-top: 5px; }
  .list__action:checked + .list__option .list__option-number { padding-top: 15px; }
  .list__action:checked + .list__option--big .list__option-number, .list__action:checked + .list__option--big .list__option-iconwrap { width: 70px; height: 70px; margin: 0; padding-top: 5px; }
  .list__action:checked + .list__option--big .list__option-number { padding-top: 25px; }
  .list__items-wrap { overflow: visible; }
  .list__items-wrap .nav__control { top: calc(65% - 35px); padding: 0; border-top: 20px solid transparent; border-bottom: 20px solid transparent; background: transparent; width: 20px; height: 40px; display: block; }
  .list__items-wrap .nav__control svg { position: relative; top: -25px; height: 50px; width: 50px; }
  .list__items-wrap .nav__control.left { border-right: 20px solid #fff; left: -20px; }
  .list__items-wrap .nav__control.left svg { left: -5px; }
  .list__items-wrap .nav__control.right { border-left: 20px solid #fff; right: -20px; }
  .list__items-wrap .nav__control.right svg { left: -45px; } }
/* TESTIMONIALS */
/* Time: 12s * num_of_slides */
.testimonial { background: #38393F; color: #fff; overflow: hidden; }
.testimonial.testimonial--with-logos { padding-top: 40px; }
.testimonial.testimonial--light { background: transparent; color: #222; }

.testimonial__wrapper { width: 960px; max-width: 100%; margin: 40px auto; padding: 0 10px; text-align: center; }
.testimonial__wrapper a { color: inherit; text-decoration: none; font-weight: inherit; }
.testimonial__wrapper a :hover { color: inherit; }
.testimonial__wrapper blockquote { margin: 20px 0; }
.testimonial__wrapper p { margin: 0 0 1.5em; /* if we do it on P, we have a whitespace issue (between before and text) */ }
.testimonial__wrapper p > a:before, .testimonial__wrapper p > span:before { margin-right: .1em; content: "“"; }
.testimonial__wrapper p > a:after, .testimonial__wrapper p > span:after { margin-left: .1em; content: "”"; }
.testimonial__wrapper cite { text-transform: uppercase; font-style: normal; letter-spacing: .1em; }
.testimonial__wrapper.testimonial__wrapper--airbnb { position: relative; }
.testimonial__wrapper.testimonial__wrapper--airbnb:before { content: ""; width: 76px; height: 76px; border-radius: 50%; background: #FF5A5F url(/assets/img/logos/airbnb-mark.png) center 15px no-repeat; background-size: 40px; transform: translate(-38px, -40px); position: absolute; left: 50%; z-index: 1; }

.carousel { position: relative; margin: 0 auto; padding: 40px 0 20px; width: 780px; max-width: 100%; background-color: #f7f7f7; overflow: hidden; }
.carousel .nav__control { position: absolute; display: flex; align-items: center; justify-content: center; width: 30px; height: 30px; top: 50%; background-color: #f7f7f7; fill: #AFB0B2; cursor: pointer; transform: translateY(-15px); }
.carousel .nav__control--left { left: 0; }
.carousel .nav__control--right { right: 0; }

.carousel__strip { display: flex; margin: 0; padding: 0; list-style-type: none; transition: transform .25s; }
.carousel__strip > li { width: 100%; padding: 0 20px; }
@media (min-width: 800px) { .carousel__strip > li { padding: 0 80px; } }

.carousel__controls { position: relative; display: flex; justify-content: center; margin: 0 0 20px; padding: 0; list-style-type: none; line-height: 0; }
.carousel__controls label { display: inline-block; width: 10px; height: 10px; background-color: #AFB0B2; border: 1px solid transparent; border-radius: 50%; cursor: pointer; user-select: none; margin: 8px; position: relative; }
.carousel__controls label:before { content: ""; position: absolute; left: 0; top: 0; width: 26px; height: 26px; transform: translateX(-8px) translateY(-8px); }

/* Disable auto animation after user interaction */
input:checked ~ .carousel .carousel__strip { animation: none; transition: transform .25s; }
input:checked ~ .carousel label[for="s1"], input:checked ~ .carousel label[for="s2"], input:checked ~ .carousel label[for="s3"], input:checked ~ .carousel label[for="s4"], input:checked ~ .carousel label[for="s5"], input:checked ~ .carousel label[for="s6"], input:checked ~ .carousel label[for="s7"], input:checked ~ .carousel label[for="s8"], input:checked ~ .carousel label[for="s9"] { animation: none; }

.js-init .carousel__strip { animation: none; transition: transform .25s; }
.js-init label[for="s1"], .js-init label[for="s2"], .js-init label[for="s3"], .js-init label[for="s4"], .js-init label[for="s5"], .js-init label[for="s6"], .js-init label[for="s7"], .js-init label[for="s8"], .js-init label[for="s9"] { animation: none; }

#s1:checked ~ .carousel label[for="s1"], #s2:checked ~ .carousel label[for="s2"], #s3:checked ~ .carousel label[for="s3"], #s4:checked ~ .carousel label[for="s4"], #s5:checked ~ .carousel label[for="s5"], #s6:checked ~ .carousel label[for="s6"], #s7:checked ~ .carousel label[for="s7"], #s8:checked ~ .carousel label[for="s8"], #s9:checked ~ .carousel label[for="s9"] { border: 1px solid transparent; background-color: #578FFF; }

/* Carousel with 5 elements */
@keyframes carousel-5-slide { 0% { transform: translateX(0); }
  18% { transform: translateX(0); }
  20% { transform: translateX(-20%); }
  38% { transform: translateX(-20%); }
  40% { transform: translateX(-40%); }
  58% { transform: translateX(-40%); }
  60% { transform: translateX(-60%); }
  78% { transform: translateX(-60%); }
  80% { transform: translateX(-80%); }
  98% { transform: translateX(-80%); }
  100% { transform: translateX(0); } }
@keyframes carousel-5-control-1 { 0% { background-color: #578FFF; }
  18% { background-color: #578FFF; }
  20% { background-color: #AFB0B2; }
  98% { background-color: #AFB0B2; }
  100% { background-color: #578FFF; } }
@keyframes carousel-5-control-2 { 0% { background-color: #AFB0B2; }
  18% { background-color: #AFB0B2; }
  20% { background-color: #578FFF; }
  38% { background-color: #578FFF; }
  40% { background-color: #AFB0B2; }
  100% { background-color: #AFB0B2; } }
@keyframes carousel-5-control-3 { 0% { background-color: #AFB0B2; }
  38% { background-color: #AFB0B2; }
  40% { background-color: #578FFF; }
  58% { background-color: #578FFF; }
  60% { background-color: #AFB0B2; }
  100% { background-color: #AFB0B2; } }
@keyframes carousel-5-control-4 { 0% { background-color: #AFB0B2; }
  58% { background-color: #AFB0B2; }
  60% { background-color: #578FFF; }
  78% { background-color: #578FFF; }
  80% { background-color: #AFB0B2; }
  100% { background-color: #AFB0B2; } }
@keyframes carousel-5-control-5 { 0% { background-color: #AFB0B2; }
  77% { background-color: #AFB0B2; }
  80% { background-color: #578FFF; }
  97% { background-color: #578FFF; }
  100% { background-color: #AFB0B2; } }
.carousel__5 .carousel__strip { width: 500%; }

.carousel__5 .carousel__strip { animation: carousel-5-slide 60s infinite ease; }

.carousel__5 label[for="s1"] { animation: carousel-5-control-1 60s infinite linear; }

.carousel__5 label[for="s2"] { animation: carousel-5-control-2 60s infinite linear; }

.carousel__5 label[for="s3"] { animation: carousel-5-control-3 60s infinite linear; }

.carousel__5 label[for="s4"] { animation: carousel-5-control-4 60s infinite linear; }

.carousel__5 label[for="s5"] { animation: carousel-5-control-5 60s infinite linear; }

#s1:checked ~ .carousel__5 .carousel__strip { transform: translateX(0); }

#s2:checked ~ .carousel__5 .carousel__strip { transform: translateX(-20%); }

#s3:checked ~ .carousel__5 .carousel__strip { transform: translateX(-40%); }

#s4:checked ~ .carousel__5 .carousel__strip { transform: translateX(-60%); }

#s5:checked ~ .carousel__5 .carousel__strip { transform: translateX(-80%); }

/* LOGOS Display by default as a banner piece with 1 line of 3 logos.  Modifiers: - logos--light - light grey background (used as full content block) - logos__list--multiline - multiple line of logos (3 at width, 2 in between, 1 below $narrow  */
.logos { background-color: #38393F; color: #fff; overflow: hidden; }
.logos--light { background-color: #f7f7f7; color: #222; }
.logos--light p, .logos--light .logos__image { opacity: .4; }
.logos--light .logos__link:hover .logos__image { opacity: .75; }
.logos--small .logos__wrap { margin: 40px auto; }

.logos__wrap { max-width: 960px; border-left: 10px solid transparent; border-right: 10px solid transparent; margin: 80px auto; text-align: center; }
.logos__wrap p { margin: 0 0 20px; }

.testimonial + .logos .logos__wrap { margin-top: 0; }

.logos__list { display: flex; align-items: center; justify-content: space-between; width: 940px; max-width: 100%; overflow: hidden; list-style-type: none; margin: 20px auto; padding: 0; }

.logos__item { width: 31.914893617%; max-width: 300px; margin: 0 2.1276595745% 0 0; padding: 0 20px; text-align: center; float: left; line-height: 0; }

.logos__list--multiline .logos__item { margin-bottom: 40px; }

.logos__link { display: inline-block; line-height: 0; min-height: 20px; }
.logos__link:hover .logos__image { opacity: 1; }

.logos__image { display: inline-block; max-width: 100%; max-height: 80px; opacity: .7; transition: opacity .333s ease-out; }

@media (max-width: 375px) { .logos__list { display: flex; }
  .logos__item { margin: 20px 0; width: auto; } }
@media (min-width: 375px) and (max-width: 639px) { .logos__item { margin-top: 20px; margin-bottom: 20px; width: auto; }
  .logos__list--multiline { display: block; }
  .logos__list--multiline .logos__item { width: 48.9361702128%; }
  .logos__list--multiline .logos__item:nth-child(2n) { margin-right: 0; }
  .logos__list--multiline .logos__item:nth-child(2n+1) { clear: left; } }
@media (max-width: 639px) { .logos { padding: 20px 0; }
  .logos__title h1 { margin-right: 0; }
  .logos__list { flex-direction: column; margin: 0; padding: 0 20px; } }
@media (min-width: 640px) { .logos__item:nth-child(3n) { margin-right: 0; }
  .logos__item:nth-child(3n+1) { clear: left; }
  .logos__list--multiline { display: block; } }
/* BANNER default: dark grey (can user btn, btn--primary, btn--secondary)  color modifier: - banner--alternative: blue (can use btn--secondary only) - banner--plain: transparent (can use btn, btn--primary) - banner--grey: grey (can use btn, btn--primary)  other modifiers: - banner--smaller: less spacing between elements - banner--spacer-image: background image in banner */
.banner { display: flex; justify-content: center; color: #fff; background-color: #38393F; padding: 100px 20px 100px; text-align: center; }
.banner .btn, .banner .btn--primary { line-height: 20px; margin: 20px 10px 0; padding-top: 20px; padding-bottom: 20px; box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); }
.banner .btn--image { line-height: 0; padding: 0; box-shadow: none; height: 60px; }
.banner .banner__buttons p a { color: #fff; }
.banner .banner__title + .banner__buttons, .banner .banner__bigtitle + .banner__buttons { margin: 20px 0 0; }
.banner #mc_embed_signup { width: 460px; max-width: 100%; margin: 0 auto; }
.banner #mc_embed_signup .btn { line-height: 1; padding: 13px 20px; }
.banner #mc_embed_signup input[type="email"] { margin: 0; background: #ddd; width: 100%; max-width: 100%; min-width: 160px; padding: 8px 5px; }
@media (min-width: 360px) { .banner #mc_embed_signup input[type="email"] { width: calc(100% - 140px); max-width: 320px; } }
.banner #mc_embed_signup #mc-embedded-subscribe { width: 100%; }
@media (min-width: 360px) { .banner #mc_embed_signup #mc-embedded-subscribe { width: auto; } }
.banner > div { max-width: 100%; }

.banner__title { font-weight: 400; font-size: 1.25em; line-height: 1.5; margin: 0 0 20px; }
@media (min-width: 600px) { .banner__title { font-size: 1.5em; line-height: 1.25; } }

.banner__bigtitle { margin: 0; color: #fff; font-size: 20px; font-weight: bold; line-height: 1.5; text-transform: uppercase; }

.banner__text { margin: 0 auto; width: 620px; max-width: 100%; }

.banner__iconwrapper { width: 100%; text-align: center; }
.banner__iconwrapper a { display: inline-block; }
.banner__iconwrapper .banner__icon { margin: 10px 10px; width: 40px; }
@media (min-width: 600px) { .banner__iconwrapper .banner__icon { margin: 20px 20px; } }

.banner--alternative { background-color: #578FFF; }

.banner--plain { /* clean, no padding */ background-color: transparent !important; padding: 0 20px; }

.banner--grey { /* grey background, can do btn or btn--primary but not btn--secondary */ background-color: #f7f7f7; color: #222; }
.banner--grey .banner__title { color: #222; }
.banner--grey .banner__bigtitle { color: #222; }

.banner--smaller { padding: 60px 20px 60px; }
.banner--smaller .banner__title + .banner__buttons, .banner--smaller .banner__bigtitle + .banner__buttons { margin: 0; }

.banner--spacer-image { padding: 0; }

.banner--onecolumn .banner__input, .banner--onecolumn .banner__button { width: 100%; margin-bottom: 20px; }
.banner--onecolumn .banner__buttons { display: flex; align-items: center; flex-direction: column; }
.banner--onecolumn .btn, .banner--onecolumn .btn + .btn { margin: 0 0 20px; }
@media (min-width: 600px) { .banner--onecolumn .btn, .banner--onecolumn .btn + .btn { width: 460px; } }

.banner--forward { padding: 20px 0; text-align: left; }
.banner--forward > div { width: 940px; margin: 0 20px; max-width: 100%; display: flex; justify-content: space-between; flex-direction: column; text-align: center; }
.banner--forward > div p { margin: .25em 0; }
.banner--forward > div .banner__text { margin: 0; width: auto; }
@media (min-width: 768px) { .banner--forward > div { flex-direction: row; text-align: left; }
  .banner--forward > div .btn { margin-top: 0; } }
.banner--forward.banner--grey { padding: 40px 0; }

.banner--sidebyside { padding: 40px 0; text-align: left; }
.banner--sidebyside > div { width: 940px; margin: 0 10px; max-width: 100%; text-align: left; display: flex; flex-direction: column; }
.banner--sidebyside > div p { margin: 0 0 10px; }
.banner--sidebyside > div .banner__text { margin: 0; width: auto; order: 2; }
.banner--sidebyside > div .banner__buttons { order: 1; margin: 0 0 10px; text-align: center; }
.banner--sidebyside > div .banner__buttons img { width: 100%; max-width: 140px; padding: 0; }
.banner--sidebyside > div .banner__buttons--vertical { order: 3; }
.banner--sidebyside > div .banner__buttons--vertical img { width: auto; max-width: none; height: 100%; max-height: 140px; padding: 20px 0 0; }
.banner--sidebyside > div .btn { margin-top: 0; margin-left: 0; }
@media (min-width: 568px) { .banner--sidebyside > div { display: block; }
  .banner--sidebyside > div .banner__buttons { float: right; width: 220px; margin: 0; }
  .banner--sidebyside > div .banner__buttons img { max-width: 260px; padding: 0 0 0 20px; }
  .banner--sidebyside > div .banner__buttons.banner__buttons--vertical { width: 140px; }
  .banner--sidebyside > div .banner__text { text-align: left; } }
@media (min-width: 620px) { .banner--sidebyside > div .banner__buttons { width: 300px; }
  .banner--sidebyside > div .banner__buttons img { max-width: 300px; padding: 0 30px; } }
.banner--sidebyside-framed { padding: 0; margin: 0 0 80px; background: transparent; }
.banner--sidebyside-framed > div { background: #f7f7f7; padding: 40px 30px; }
@media (min-width: 768px) { .banner--sidebyside-framed > div { padding: 60px 80px; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-width: 1100px) { .banner__spacer--low { display: none; }
  .banner__spacer--hi { display: block; } }
.banner--media .btn { white-space: nowrap; min-width: 220px; }

/*
@media (max-width: 599px) {
	.banner__input,
	.banner__button {
		width: 100%;
		margin-bottom: $base-height;
	}
	.banner__buttons {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.banner .btn, .banner .btn + .btn {
		margin-left: 0;
		margin-top: $base-height;
	}
}*/
/* MailChimp (used in footer) */
#mc_embed_signup { display: block; margin: 0; }
#mc_embed_signup form { padding: 0; margin: 0 0 40px; }
@media (min-width: 960px) { #mc_embed_signup form { margin-bottom: 0; } }
#mc_embed_signup .mc-field-group { display: none; }
#mc_embed_signup h1 { font-size: 20px; line-height: 4/3; }
@media screen and (min-width: 320px) { #mc_embed_signup h1 { font-size: calc(20px + 10 * ((100vw - 320px) / 680)); } }
@media screen and (min-width: 1000px) { #mc_embed_signup h1 { font-size: 30px; } }
#mc_embed_signup input { border: none; border-radius: 0; font-family: 'Open Sans', sans-serif; }
#mc_embed_signup .mce-lists { margin-top: 20px; }
#mc_embed_signup ul { list-style-type: none; margin: 0; padding-left: 0; }
#mc_embed_signup li { margin-top: 10px; }
#mc_embed_signup .btn { min-width: 140px; }
#mc_embed_signup .button { border-radius: 0; background-color: #578FFF; }
#mc_embed_signup .button:hover { background-color: #0062FF; }
#mc_embed_signup div#mce-responses { float: unset; top: unset; width: 100%; margin: 0 0 10px; padding: 0; }

#mce-responses { max-width: 30em; font-weight: bold; text-transform: none; }
#mce-responses div.response { float: unset; top: unset; width: 100%; margin: 0; padding: 0; }
#mce-responses a { color: #fff; font-weight: bold; text-decoration: none; }
#mce-responses #mce-success-response { color: #00D3B2; }
#mce-responses #mce-error-response { color: #ff7070; }

#mc-embedded-subscribe { display: inline-block; margin: 0; }

/* form stuff */
.newsletter-form input[type="email"], .footer__items__item input[type="email"] { display: inline; border: 0; height: 40px; padding: 8px 5px; margin: 0; vertical-align: top; background-color: #ddd; font-size: 14px; min-width: 0; width: 100%; max-width: 100%; }
.newsletter-form #mc-embedded-subscribe, .footer__items__item #mc-embedded-subscribe { width: 100%; }
@media (min-width: 360px) { .newsletter-form #mc-embedded-subscribe, .footer__items__item #mc-embedded-subscribe { width: auto; } }

/* FOOTER */
.footer { width: 100%; font-size: 14px; line-height: 1.4285714286; background-color: #f7f7f7; padding: 20px 10px; }
@media (min-width: 960px) { .footer { padding: 80px 10px 0; } }
.footer--light { background-color: #fff; }
.footer a { color: #222; font-weight: normal; }
.footer .mainmenu { display: flex; flex-wrap: wrap; flex-grow: 2; justify-content: space-between; width: 100%; margin: 0; padding-left: 0; list-style-type: none; float: left; order: 2; }
@media (min-width: 960px) { .footer .mainmenu { width: 65.9574468085%; margin: 0 2.1276595745% 0 0; } }
.footer .mainmenu__item { min-width: 140px; width: 100%; margin: 0 0 30px; }
@media (min-width: 360px) { .footer .mainmenu__item { width: 48.9361702128%; margin: 0 2.1276595745% 30px 0; }
  .footer .mainmenu__item:nth-child(2n) { margin-right: 0; } }
@media (min-width: 660px) { .footer .mainmenu__item { width: 23.4042553191%; }
  .footer .mainmenu__item:nth-child(2n) { margin-right: 2.1276595745%; }
  .footer .mainmenu__item:last-child { margin-right: 0; } }
@media (min-width: 960px) { .footer .mainmenu__item { width: 14.8936170213%; } }
.footer .mainmenu__item a { text-decoration: none; }
.footer .mainmenu__item a:hover { font-weight: 600; text-decoration: underline; }
.footer--nosignup .mainmenu { margin-top: 20px; }
.footer .submenu { list-style-type: none; padding-left: 0; }
.footer .submenu__title a { font-weight: bold; text-transform: uppercase; }
.footer .submenu__title a:hover { font-weight: bold; }
.footer .submenu__item { margin: 10px 0; }
.footer .submenu__item--offer a { opacity: .5; }
.footer .copyright { width: 100%; padding: 20px 0; text-align: center; }
.footer .copyright .extra { margin: 0 auto; padding: 0 10%; max-width: 1000px; font-size: 10px; }

.footer__items { max-width: 940px; margin: 20px auto; font-weight: 600; overflow: hidden; display: flex; flex-direction: column; }
@media (min-width: 960px) { .footer__items { display: block; margin: 0 auto; } }

.footer__items__item { width: 100%; }
@media (min-width: 660px) { .footer__items__item { /* half size */ width: 48.9361702128%; } }
@media (min-width: 960px) { .footer__items__item { /* third size, floated right */ width: 31.914893617%; float: right; } }

.footer__items__item__group { margin-top: 0; order: 3; }
@media (min-width: 960px) { .footer__items__item__group { width: 31.914893617%; float: right; } }
.footer__items__item__group .footer__items__item { float: left; margin-bottom: 20px; }
@media (min-width: 660px) { .footer__items__item__group .footer__items__item.footer__items__item--social { clear: left; margin-right: 2.1276595745%; } }
@media (min-width: 960px) { .footer__items__item__group .footer__items__item { width: 100%; float: none; margin-bottom: 20px; }
  .footer__items__item__group .footer__items__item.footer__items__item--social { margin-right: 0; } }

.footer__items__item--form { width: 100%; order: 1; }
@media (min-width: 960px) { .footer__items__item--form { width: 31.914893617%; } }
.footer__items__item--form input[type="email"] { width: 100%; max-width: 100%; }
@media (min-width: 360px) { .footer__items__item--form input[type="email"] { width: calc(100% - 140px); max-width: 320px; } }

.footer__items__item__title { margin: 0 0 10px; font-size: 14px; text-transform: uppercase; }
.footer__items__item__title a { color: #578FFF; font-weight: 600; text-decoration: none; }
.footer__items__item__title a:hover { color: #0062FF; }

.footer__items__item__info { color: #808285; font-size: 10px; line-height: 1.5; font-weight: normal; margin: 10px 0 20px; }

.social__media { display: flex; list-style-type: none; padding-left: 0; margin: 0; line-height: 30px; }
.social__media .instagram, .social__media .facebook, .social__media .twitter, .social__media .linkedin { display: inline-block; width: 30px; margin-right: 20px; }
@media (min-width: 660px) { .social__media .instagram, .social__media .facebook, .social__media .twitter, .social__media .linkedin { width: 40px; } }
.social__media .instagram svg, .social__media .facebook svg, .social__media .twitter svg, .social__media .linkedin svg { display: inline-block; }

.footer__items__item__memberships { list-style: none; margin: 0; padding: 0; }
.footer__items__item__memberships li { margin: 0; padding: 0; }
.footer__items__item__memberships li img, .footer__items__item__memberships li .img { float: left; width: 60px; margin: 5px 20px 20px 0; box-sizing: border-box; }
.footer__items__item__memberships li p, .footer__items__item__memberships li .desc { vertical-align: top; display: block; font-size: 10px; line-height: 1.4; font-weight: normal; }
.footer__items__item__memberships li p span, .footer__items__item__memberships li .desc span { white-space: nowrap; }

.newsletter-form { margin-top: 0; width: 31.914893617%; float: right; }
@media (min-width: 360px) { .newsletter-form input[type="email"] { width: calc(100% - 140px); max-width: 100%; }
  .newsletter-form #mc-embedded-subscribe { width: auto; } }

.overlay .newsletter-form { width: auto; float: none; }
.overlay .newsletter-form #mc_embed_signup form { margin: 0; }
.overlay .newsletter-form #mc_embed_signup input[type="email"] { width: 100%; }
@media (min-width: 360px) { .overlay .newsletter-form #mc_embed_signup input[type="email"] { width: calc(100% - 140px); max-width: 320px; } }

.overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); display: flex; justify-content: center; align-items: center; z-index: 3; }

.overlay--hide { display: none; }

.overlay__close { position: absolute; top: 0; right: 0; width: 40px; height: 40px; min-width: 20px; padding: 0; color: #AFB0B2; background-color: #fff; border-radius: 50%; font-size: 30px; line-height: 0; }
.overlay__close > svg { width: 16px; height: 16px; fill: #AFB0B2; }
.overlay__close:hover { background-color: #fff; }
.overlay__close:hover > svg { fill: #222; }

.overlay__content { position: relative; width: 620px; max-width: 100%; margin: 20px 20px; padding: 60px 60px; background-color: #fff; max-height: 100%; overflow: scroll; }
@media (max-width: 600px) { .overlay__content { padding: 20px 20px; } }

/* Mailchimp form in overlay */
.overlay__content #mc_embed_signup form { /*padding-bottom: $base-height;*/ }
.overlay__content input[type="email"] { display: inline; border: 0; height: 40px; width: 300px; padding: 8px 5px; vertical-align: top; background-color: #ddd; font-size: 14px; }
@media (max-width: 520px) { .overlay__content input[type="email"] { width: calc(100% - 140px); min-width: 100px; } }
@media (max-width: 380px) { .overlay__content input[type="email"] { /*width: 100%;*/ } }

.overlay-form__title { margin: 0 .75em 0 0; font-size: 22px !important; font-weight: normal !important; font-family: 'Open Sans', sans-serif; }

.overlay-form__note { font-size: 16px; }
.overlay-form__note h4, .overlay-form__note p, .overlay-form__note ul { margin: 10px 0; }
.overlay-form__note h4 { text-transform: uppercase; }
.overlay-form__note ul { margin: 10px 0; padding: 0 0 0 1em; }
.overlay-form__note .overlay-form__footnote { font-size: .875em; font-style: italic; }

.response:not(:empty) ~ .overlay-form__title { display: none; }

.overlay-form__info { color: #808285; font-size: 10px; font-weight: normal; }

.overlay--offer { z-index: 2147483001; }
.overlay--offer .overlay__content { margin: 0; }
.overlay--offer .overlay-form__title { line-height: 1.333; margin-right: 30px; }
.overlay--offer p { font-size: .875em; }
.overlay--offer p:last-child { margin-bottom: -20px; padding-bottom: 20px; }
.overlay--offer h4, .overlay--offer ul, .overlay--offer .overlay-form__footnote { margin: 0; font-size: .75em; }
.overlay--offer .btn { width: 100%; }
@media (min-width: 360px) { .overlay--offer p { font-size: 1em; } }
@media (min-width: 375px) { .overlay--offer .overlay__content { margin: 20px 20px; } }

.boxchart { display: flex; }

.boxchart__wrap { max-width: 460px; margin: 0 auto; }

.boxchart__title { background-color: #38393F; color: #fff; margin: 0; padding: 20px 2em; font-size: 16px; line-height: 1.25; text-align: center; text-transform: uppercase; }

.boxchart__boxes { display: flex; flex-wrap: wrap; justify-content: center; }

.boxchart__box { display: flex; align-items: center; justify-content: center; width: 140px; height: 140px; margin-top: 20px; background-color: #f2f2f2; text-align: center; font-weight: bold; }

.boxchart__box + .boxchart__box { margin-left: 20px; }

@media (max-width: 460px) { .boxchart__wrap { max-width: 300px; }
  .boxchart__box:nth-child(odd) { margin-left: 0; }
  .boxchart__box:nth-child(even) { margin-left: 20px; } }
@media (max-width: 300px) { .boxchart__wrap { max-width: 220px; }
  .boxchart__boxes { display: block; width: 140px; margin: 0 auto; }
  .boxchart__box + .boxchart__box, .boxchart__box { margin: 20px 0 0; } }
.imagegrid { width: 100%; }
.imagegrid.imagegrid--band { overflow: hidden; background-color: #f7f7f7; }
@media (min-width: 720px) { .imagegrid.imagegrid--horizontal .imagegrid__itemwrapper { margin-bottom: 40px; }
  .imagegrid.imagegrid--horizontal .imagegrid__itemwrapper .imagegrid__griditem { flex-basis: auto; max-width: 100%; margin-bottom: 40px; }
  .imagegrid.imagegrid--horizontal .imagegrid__itemwrapper .imagegrid__griditem .imagegrid__imagewrapper { width: 25.5813953488%; margin-right: 2.3255813953%; margin-bottom: 20px; float: left; }
  .imagegrid.imagegrid--horizontal .imagegrid__itemwrapper .imagegrid__griditem .imagegrid__text { column-count: 2; column-gap: 3.2258064516%; } }
.imagegrid.imagegrid--wide .imagegrid__itemwrapper { padding-left: 0; }
.imagegrid.imagegrid--wide .imagegrid__itemwrapper .imagegrid__griditem { width: 100%; max-width: 460px; }
.imagegrid.imagegrid--wide .imagegrid__itemwrapper .imagegrid__griditem .imagegrid__title { text-transform: none; margin: 20px 0; font-size: 1.5em; font-weight: normal; }
.imagegrid.imagegrid--wide .imagegrid__itemwrapper .imagegrid__griditem .imagegrid__text { font-size: 16px; margin: 0; }
@media (min-width: 720px) { .imagegrid.imagegrid--wide .imagegrid__itemwrapper .imagegrid__griditem { text-align: center; flex-grow: 1; flex-basis: 48.9361702128%; max-width: 48.9361702128%; }
  .imagegrid.imagegrid--wide .imagegrid__itemwrapper .imagegrid__griditem .imagegrid__text { margin: 0 20px; } }
.imagegrid.imagegrid--wide .section-title--central { text-align: left; }
@media (min-width: 720px) { .imagegrid.imagegrid--wide .section-title--central { text-align: center; } }

.imagegrid__wrap { max-width: 960px; margin-left: auto; margin-right: auto; padding: 0 10px; margin-top: 80px; }

.imagegrid__header { width: 100%; margin: 0; padding: 0 0 80px; font-size: 30px; font-weight: bold; line-height: 1.3333333333; text-transform: uppercase; }

.imagegrid__itemwrapper { width: 100%; display: flex; flex-direction: column; }
@media (min-width: 720px) { .imagegrid__itemwrapper { flex-direction: row; flex-wrap: wrap; justify-content: space-between; padding: 0 0 0 8.5106382979%; } }

.imagegrid__griditem { width: 100%; margin: 0 auto 60px; }
@media (min-width: 340px) { .imagegrid__griditem { width: 300px; } }
@media (min-width: 720px) { .imagegrid__griditem { flex-basis: 25.5813953488%; flex-grow: 1; width: auto; max-width: 25.5813953488%; margin: 0 0 80px; } }

.imagegrid__imagewrapper { background-color: #38393F; position: relative; }

.imagegrid__hoveritem { opacity: 0; position: absolute; top: calc(50% + 16px); left: 50%; transform: translate(-50%, -50%); text-align: center; transition: opacity 0.3s ease-in-out; }

.imagegrid__arrow { width: 100%; height: 25px; fill: #fff; }

.imagegrid__hovertext { font-size: 16px; font-weight: 600; text-transform: uppercase; margin: 5px 0 0; letter-spacing: 1px; color: #fff; }

.imagegrid__imageoverlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.imagegrid__image { width: 100%; display: block; fill: #fff; opacity: 1; position: relative; z-index: 1; transition: opacity 0.3s ease-in-out; }
.imagegrid__image svg { display: block; }

.imagegrid__image--emptysquare:after { content: ""; display: block; padding-bottom: 100%; }

.imagegrid__image__title { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #fff; font-size: 16px; font-weight: 600; text-transform: uppercase; margin: 0; }

.imagegrid__image__title--big { font-size: 6em; }

.imagegrid__imagelink:hover .imagegrid__hoveritem { opacity: 1; transition: opacity 0.3s ease-in-out; }

.imagegrid__imagelink:hover .imagegrid__image { opacity: .2; transition: opacity 0.3s ease-in-out; }

.imagegrid__imagelink:hover .imagegrid__image--hoverdissapear { opacity: 0; transition: opacity 0.3s ease-in-out; }

.imagegrid__title { margin: 20px auto 0; font-size: 16px; text-transform: uppercase; line-height: 1.25; }
@media (min-width: 720px) { .imagegrid__title { margin: 5px auto; } }

/* when there is no text we want extra margin on the top of the title to balance it out */
.imagegrid__title--notext { margin-bottom: 5px; }

.imagegrid__pretitle { font-size: 16px; margin: 20px auto 0; line-height: 1.6; font-weight: 200; }

.imagegrid__pretitle + .imagegrid__title { margin-top: 0; }

.imagegrid__subtitle { font-size: 16px; margin: 0 auto; line-height: 1.25; font-weight: 200; }

.imagegrid__subtitle2 { font-size: 12px; font-style: italic; margin: 0 auto; line-height: 1.667; font-weight: 400; }

.imagegrid__socialwraperlink .imagegrid__socialimg { margin: 8px 0 0; height: 16px; }

.imagegrid__text { margin: 20px 0 0; font-size: 14px; }

.imagegrid__spacer { flex-grow: 1; }

.notice { display: none; width: 100%; z-index: 5; padding: 20px 10px 10px; font-size: 14px; background: linear-gradient(to top, #eee 0%, #f7f7f7 8%, #f7f7f7 100%); }
.notice.on { display: block; }
.notice a, .notice a:visited { color: #578FFF; }
.notice .notice__close { position: absolute; top: 0; right: 0; width: 40px; height: 40px; min-width: 20px; padding: 0; color: #AFB0B2; background-color: transparent; border-radius: 50%; font-size: 30px; line-height: 0; }
.notice .notice__close > svg { width: 16px; height: 16px; fill: #AFB0B2; }
@media (max-width: 660px) { .notice { padding-top: 40px; } }
@media (max-width: 490px) { .notice { background: linear-gradient(to top, #eee 0%, #f7f7f7 6%, #f7f7f7 100%); } }
@media (max-width: 320px) { .notice { background: linear-gradient(to top, #eee 0%, #f7f7f7 4%, #f7f7f7 100%); } }

.privacy-policy .notice { display: block; position: relative; }

.notice__wrap { /*width: (12 * $column-width + 11 * $gutter-width);*/ width: 620px; max-width: 100%; margin: 0 auto; }
.notice__wrap h2 { margin: 0 auto .75em; padding: 0; font-size: 18px; font-weight: 600; line-height: 1; }

.notice__description { margin: 0 0 20px; padding: 0; }

.notice__actions { text-align: center; margin: 0 0 20px; }
.notice__actions button { margin: 0 10px; }

.notice__status { max-width: 40em; margin: 0 0 20px; }
.notice__status.notice__status--hide { display: none; }

.contact { display: flex; align-items: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 500; padding: 20px 0; border-left: 10px solid transparent; border-right: 10px solid transparent; font-size: 16px; background-color: rgba(0, 0, 0, 0.7); }
.contact .overlay__close { top: -20px; right: -20px; }

.contact--hide { display: none; }

.contact__close { position: absolute; top: 0; right: 0; width: 40px; height: 40px; min-width: 20px; padding: 0; color: #AFB0B2; background-color: transparent; font-size: 30px; line-height: 0; }
.contact__close > svg { width: 16px; height: 16px; fill: #AFB0B2; }
.contact__close:hover { background-color: transparent; }
.contact__close:hover > svg { fill: #222; }

.contact__wrap { position: relative; max-width: 400px; margin: 0 auto; padding: 60px 80px; background-color: #f7f7f7; }
.contact__wrap > * { margin: 0 0 20px; }
.contact__wrap > :last-child { margin-bottom: 0; }

.contact__title { width: 100%; padding: 0 20px; color: #222; font-size: 22px; font-weight: normal; text-align: center; }

.contact__description { max-width: 30em; margin-left: auto; margin-right: auto; padding: 0; }

.contact__options { list-style-type: none; padding: 0; font-size: 14px; color: #666; }

.contact__option { display: flex; align-items: start; }
.contact__option:not(:last-child) { margin-bottom: 20px; }
.contact__option input { display: none; }
.contact__option label { line-height: 1; }
.contact__option label:before { display: inline-block; float: left; width: 16px; height: 16px; margin: 0 10px 0 0; content: ""; background-image: url("data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMjYuOSA4LjkgMTYuMSAxMi4xIj48Zz48cG9seWdvbiBzdHlsZT0iZmlsbDojRkZGIiBwb2ludHM9IjM0LjIsMTkuNCAzMi42LDIxLjEgMzAuOSwxOS40IDI2LjksMTUuNSAyOC42LDEzLjggMzIuNiwxNy44IDQxLjQsOC45IDQzLjEsMTAuNiIvPjwvZz48L3N2Zz4="); background-size: 60% 60%; background-repeat: no-repeat; background-position: center center; border: 1px solid #578FFF; background-color: #fff; border-radius: 50%; }
.contact__option input:checked + label:before { background-color: #578FFF; }

.contact__actions { width: 100%; text-align: center; }

.contact { display: flex; align-items: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 500; padding: 20px 0; border-left: 10px solid transparent; border-right: 10px solid transparent; font-size: 16px; background-color: rgba(0, 0, 0, 0.7); }
.contact .overlay__close { top: -20px; right: -20px; }

.contact--hide { display: none; }

.contact__close { position: absolute; top: 0; right: 0; width: 40px; height: 40px; min-width: 20px; padding: 0; color: #AFB0B2; background-color: transparent; font-size: 30px; line-height: 0; }
.contact__close > svg { width: 16px; height: 16px; fill: #AFB0B2; }
.contact__close:hover { background-color: transparent; }
.contact__close:hover > svg { fill: #222; }

.contact__wrap { position: relative; max-width: 400px; margin: 0 auto; padding: 60px 80px; background-color: #f7f7f7; }
.contact__wrap > * { margin: 0 0 20px; }
.contact__wrap > :last-child { margin-bottom: 0; }

.contact__title { width: 100%; padding: 0 20px; color: #222; font-size: 22px; font-weight: normal; text-align: center; }

.contact__description { max-width: 30em; margin-left: auto; margin-right: auto; padding: 0; }

.contact__options { list-style-type: none; padding: 0; font-size: 14px; color: #666; }

.contact__option { display: flex; align-items: start; }
.contact__option:not(:last-child) { margin-bottom: 20px; }
.contact__option input { display: none; }
.contact__option label { line-height: 1; }
.contact__option label:before { display: inline-block; float: left; width: 16px; height: 16px; margin: 0 10px 0 0; content: ""; background-image: url("data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMjYuOSA4LjkgMTYuMSAxMi4xIj48Zz48cG9seWdvbiBzdHlsZT0iZmlsbDojRkZGIiBwb2ludHM9IjM0LjIsMTkuNCAzMi42LDIxLjEgMzAuOSwxOS40IDI2LjksMTUuNSAyOC42LDEzLjggMzIuNiwxNy44IDQxLjQsOC45IDQzLjEsMTAuNiIvPjwvZz48L3N2Zz4="); background-size: 60% 60%; background-repeat: no-repeat; background-position: center center; border: 1px solid #578FFF; background-color: #fff; border-radius: 50%; }
.contact__option input:checked + label:before { background-color: #578FFF; }

.contact__actions { width: 100%; text-align: center; }

.graphics-banner.graphics-banner--narrow .graphics-banner__wrapper { width: 660px; }
.graphics-banner.graphics-banner--narrow .graphics-banner__content__item { margin: 0; }
.graphics-banner.graphics-banner--band { overflow: hidden; background-color: #f7f7f7; }

.graphics-banner__wrapper { width: 960px; max-width: 100%; margin: 40px auto; border-left: 10px solid transparent; border-right: 10px solid transparent; overflow: hidden; }
@media (min-width: 700px) { .graphics-banner__wrapper { margin: 80px auto; } }

.graphics-banner__title { /* big_title */ font-family: "azo-sans-web", sans-serif; margin: 60px 0; padding: 0; font-size: 30px; font-weight: bold; line-height: 1.3333333333; text-transform: uppercase; }

.graphics-banner__content { position: relative; display: flex; justify-content: space-evenly; align-items: start; }
@supports (-ms-ime-align: auto) { .graphics-banner__content { justify-content: space-around; } }

.graphics-banner__content__item { margin: 0 10px; text-align: center; max-width: 160px; width: 100%; }
@media (min-width: 700px) { .graphics-banner__content__item { margin: 10px 10px; } }

.graphics-banner__content__item__graphic { width: 100%; }
.graphics-banner__content__item__graphic.graphics-banner__content__item__graphic--small-screen { display: block; }
@media (min-width: 700px) { .graphics-banner__content__item__graphic.graphics-banner__content__item__graphic--small-screen { display: none; } }
.graphics-banner__content__item__graphic.graphics-banner__content__item__graphic--big-screen { display: none; }
@media (min-width: 700px) { .graphics-banner__content__item__graphic.graphics-banner__content__item__graphic--big-screen { display: block; } }

.graphics-banner__content__item__text { font-family: "azo-sans-web", sans-serif; text-transform: uppercase; font-weight: 400; text-align: center; color: #666; font-size: calc(10px + ((100vw - 320px) / 65)); margin: 10px 0 0; }
@media (min-width: 700px) { .graphics-banner__content__item__text { margin: 40px 0 0; font-size: 1em; } }

.graphics-banner--small-icons .graphics-banner__content__item__graphic { max-width: 110px; }

.compat { width: 100%; overflow: hidden; background-color: #f7f7f7; }

.compat__wrap { max-width: 960px; margin: 80px auto; display: flex; flex-wrap: wrap; justify-content: space-around; position: relative; }

.compat__header { width: 100%; margin: 0 10px; padding: 0; font-size: 30px; font-weight: bold; line-height: 1.3333333333; text-transform: uppercase; }

.compat__content { background-color: #fff; padding: 80px 80px; width: 100%; display: flex; flex-direction: row; margin: 0 10px; }
@media (max-width: 930px) { .compat__content { padding: 80px 20px; } }
@media (max-width: 800px) { .compat__content { flex-direction: column; } }
.compat__content h2 { font-weight: normal; }
.compat__content .compat__content__item { width: calc(50% - 10px); }
@media (max-width: 800px) { .compat__content .compat__content__item { width: 100%; } }
.compat__content .compat__content__item__form { min-width: 380px; }
@media (max-width: 800px) { .compat__content .compat__content__item__form { min-width: 0; } }
.compat__content .compat__content__result { margin-top: 100px; margin-left: 20px; }
@media (max-width: 800px) { .compat__content .compat__content__result { margin-top: 40px; margin-left: 0; } }
.compat__content select { width: 100%; margin-top: 20px; max-width: 300px; }
@media (max-width: 480px) { .compat__content select { max-width: none; } }
.compat__content .compat__buttons { margin-top: 20px; display: flex; flex-wrap: wrap; }
@media (max-width: 480px) { .compat__content .compat__buttons { margin-top: 0; } }
.compat__content .compat__buttons button { width: 100%; max-width: 140px; margin-right: 20px; }
@media (max-width: 480px) { .compat__content .compat__buttons button { max-width: none; margin-right: 0; margin-bottom: 15px; } }

.compat__list { margin-top: 30px; }
.compat__list p { color: #AFB0B2; }
.compat__list div { height: 24px; width: 24px; border-radius: 12px; position: relative; }
.compat__list .compat__list__item { display: inline-flex; width: 100%; margin: 5px 0; }
.compat__list .compat__list__item p { margin: 0 20px; }
.compat__list .compat__list__item__yes { display: none; }
.compat__list .compat__list__item__no { display: block; background-color: transparent; border: solid #ddd 2px; }

.compat__content__result--show .compat__list p { color: #222; }
.compat__content__result--show .compat__list__item__yes { display: none; background-color: #578FFF; }
.compat__content__result--show .compat__list__item__yes:after { content: " "; display: block; width: 5px; height: 12px; border: solid white; border-width: 0 2px 2px 0; position: absolute; left: 9px; top: 7px; margin-top: -3px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.compat__content__result--show .compat__list__item__no { display: block; background-color: #ddd; }
.compat__content__result--show .compat__list__item__no:after { content: " "; display: block; width: 15px; height: 15px; border: solid white; border-width: 0 0 2px 0; position: absolute; left: 8px; top: 0px; margin-top: -3px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
.compat__content__result--show .compat__list__item__no:before { content: " "; display: block; width: 15px; height: 15px; border: solid white; border-width: 0 0 2px 0; position: absolute; left: -3px; top: 0px; margin-top: -3px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }
.compat__content__result--show .compat__list__item--confirm .compat__list__item__yes { display: block; }
.compat__content__result--show .compat__list__item--confirm .compat__list__item__no { display: none; }

.compat__model:disabled { opacity: 0.8; }

.compat-error { color: #ff7070; }

.compat__footnote { /* SAME AS .list__footnote */ order: 3; margin: 40px 0; }
.compat__footnote p { margin: 0; }
@media (max-width: 700px) { .compat__footnote { margin: 20px 10px; } }

/* VIDEO */
.video__player { width: 460px; max-width: 100%; margin: 0 auto; }
.video__player iframe { margin-bottom: 20px; width: 100%; }
@media (min-width: 600px) { .video__player iframe { margin-bottom: 40px; } }
.video__player p { margin: 0; }
@media (min-width: 600px) { .video__player { text-align: center; } }

.customer { max-width: 960px; width: 100%; margin: 0 auto; padding: 0 10px; }

.customer__pretitle { font-weight: normal; font-style: italic; font-size: 24px; }

.customer__title { font-size: 30px; text-transform: uppercase; font-family: "azo-sans-web", sans-serif; }

.customer__content { padding: 60px 8.5106382979%; background-color: #f7f7f7; position: relative; margin-bottom: 80px; }
@media (max-width: 767px) { .customer__content { padding: 30px; } }

.customer__content__badge { background-color: #00EABD; border-radius: 50%; width: 140px; height: 140px; position: absolute; top: -60px; right: 8.5106382979%; }
.customer__content__badge svg { fill: #fff; margin: -5% 20%; width: 60%; }
@media (max-width: 960px) { .customer__content__badge { display: none; } }

.customer__content__title { margin-left: 3.1914893617%; font-size: 24px; font-weight: normal; }
@media (max-width: 767px) { .customer__content__title { margin-left: 0; } }

.customer__benefit__wrapper { display: flex; flex-direction: column; }

.customer__benefit { display: flex; margin: 20px 0; }
.customer__benefit p { max-width: 380px; width: 40.4255319149%; flex-grow: 1; margin-left: 2.1276595745%; }
@media (max-width: 767px) { .customer__benefit { flex-direction: column; align-items: center; width: 100%; }
  .customer__benefit p { margin-left: 0; width: 100%; max-width: 100%; } }

.customer__benefit__title { display: inline-flex; align-items: center; max-width: 360px; width: 38.2978723404%; margin-right: 2.1276595745%; flex-grow: 1; }
.customer__benefit__title img { margin: 0 30px; width: 80px; height: auto; }
.customer__benefit__title h3 { text-transform: uppercase; font-size: 16px; font-weight: 600; margin: 20px 0; line-height: 1.2; color: #666; }
@media (max-width: 767px) { .customer__benefit__title { justify-content: flex-start; max-width: 100%; width: 100%; }
  .customer__benefit__title img { margin-left: 0; }
  .customer__benefit__title h3 { align-self: flex-start; } }

.customer__benefit__banner { background-color: #fff; padding: 40px 6.3829787234%; display: flex; align-items: center; }
.customer__benefit__banner button { width: 140px; padding: 20px 0; }
@media (max-width: 767px) { .customer__benefit__banner { flex-direction: column; padding: 40px 40px; }
  .customer__benefit__banner button { margin-top: 20px; } }

.customer__benefit__banner__content { flex-grow: 1; margin-right: 20px; }
.customer__benefit__banner__content h3 { text-transform: uppercase; font-size: 20px; font-weight: 600; line-height: 1.2; margin-bottom: 5px; }
@media (max-width: 767px) { .customer__benefit__banner__content { margin: 0; }
  .customer__benefit__banner__content p { font-weight: 600; margin-top: 40px; } }

.offer { width: 940px; max-width: 100%; margin: 0 auto 40px; background-color: #f7f7f7; overflow: hidden; flex-wrap: wrap; display: flex; justify-content: space-between; }
.offer .section-title { margin: 20px 10px; border: 0; padding: 0; flex-basis: 100%; }
@media (min-width: 768px) { .offer .section-title { margin: 40px 30px; } }
.offer .section-title h1 { margin-bottom: 0; }

.offer__content { padding: 0 10px 20px; flex-basis: 100%; }
@media (min-width: 768px) { .offer__content { padding: 0 30px 40px; }
  .offer__content--column { flex-basis: auto; width: 460px; max-width: 48.9361702128%; } }
.offer__content h2 { font-size: 1.5em; line-height: 1.25; font-weight: normal; margin: 0 0 20px; }
.offer__content h3 { font-size: 1em; margin: 0 0 20px; }
.offer__content ol { padding-left: 30px; list-style: none; margin: 0 0 20px; }
.offer__content ol li { counter-increment: inst; position: relative; margin: 0 0 20px; }
.offer__content ol li:before { content: counter(inst) ")"; position: absolute; left: -30px; }
.offer__content p { margin: 0 0 20px; }

.offer__content__action { color: #B855FF; }
.offer__content__action .offer__content__icon:before { background-color: #B855FF; }
.offer__content__action .btn { width: 100%; }

.offer__content__smallprint { font-size: .75em; line-height: 1.5; }

.offer__content__box { background: #fff; padding: 20px 30px; }

.offer__content__icon { padding-left: 30px; position: relative; }
.offer__content__icon:before { content: ""; border-radius: 50%; background: #222; color: #fff; width: 16px; height: 16px; position: absolute; left: 0; transform: translateY(-6px); top: .75em; display: block; text-align: center; font-size: 12px; line-height: 16px; font-weight: bold; }
.offer__content__icon.offer__content__icon--questionmark:before { content: "?"; }
.offer__content__icon.offer__content__icon--exclamation:before { content: "!"; }

.events { width: 960px; max-width: 100%; margin: 60px 0; border-left: 10px solid transparent; border-right: 10px solid transparent; }
.events.hidden { display: none; }
@media (min-width: 600px) { .events { margin: 120px auto 80px; } }

.events__wrapper { position: relative; margin: 0 auto; width: 780px; max-width: 100%; background-color: #f7f7f7; padding: 40px 40px; text-align: center; }
@media (min-width: 600px) { .events__wrapper { padding: 60px 60px; } }

.events__icon { width: 60px; position: absolute; left: 50%; transform: translateX(-30px); top: -30px; }

.events__title { font-size: 1em; font-weight: normal; }

.events__details { font-weight: 400; font-size: 1.25em; line-height: 1.5; margin: 0 0 20px; }
.events__details.hidden { display: none; }
.events__details abbr { text-decoration: none; }
@media (min-width: 600px) { .events__details { font-size: 1.5em; line-height: 1.25; } }

/* BIGPHOTO */
.bigphoto.bigphoto--connected .bigphoto__wrapper { margin-top: 0; }
.bigphoto.bigphoto--band { background: #f7f7f7; overflow: hidden; }

.bigphoto__wrapper { width: 960px; height: 480px; max-width: 100%; margin: 80px auto; overflow: hidden; position: relative; -webkit-background-size: cover; background-size: cover; background-position: center; transition: margin-bottom .5s, margin-top .5s; }
.bigphoto__wrapper:before { content: ""; position: absolute; left: 0; right: 0; top: 0; width: calc(100% - 20px); height: 100%; border: 10px solid #f7f7f7; border-width: 0 10px; transition: opacity .5s; }

.bigphoto__text { position: absolute; right: 8.1632653061%; bottom: 12.5%; margin-left: 8.1632653061%; padding: 5px 10px; font-family: "azo-sans-web", sans-serif; font-weight: 700; background: rgba(255, 255, 255, 0.75); color: #222; text-transform: uppercase; }

@media (max-width: 960px) { .bigphoto__wrapper { margin: 0; }
  .bigphoto__wrapper:before { opacity: 0; } }
@media (max-width: 374px) { .bigphoto__wrapper { height: 0; padding-top: 128%; } }
@media (max-width: 667px) { .bigphoto__wrapper--wide { height: 0; padding-top: 71.964017991%; } }
.centralcontent .section-title { max-width: 620px; text-align: left; }
.centralcontent .section-title h1 { margin-right: 0; }
@media (min-width: 640px) { .centralcontent .section-title { text-align: center; border: 0; } }

.centralcontent__box { margin: 0 auto 80px; width: 940px; border-left: 10px solid transparent; border-right: 10px solid transparent; max-width: 100%; }
.centralcontent__box--framed { margin: 40px auto; background-color: #f7f7f7; padding: 40px 0 0; overflow: hidden; }
@media (min-width: 640px) { .centralcontent__box { text-align: center; } }

.centralcontent__content { margin: 0 auto 40px; width: 620px; max-width: 100%; }
.centralcontent__content p { margin: 0 0 20px; }
.centralcontent__content img { max-width: 100%; }
.centralcontent__content a { font-weight: normal; }

.centralcontent__subtitle { font-weight: 400; margin: 0 0 20px; font-size: 1.25em; line-height: 1.5; }
@media (min-width: 500px) { .centralcontent__subtitle { font-size: 1.5em; line-height: 1.25; } }

h3.centralcontent__subtitle { font-size: 1em; text-transform: uppercase; font-weight: bold; margin-bottom: 0; }

body:not(.js-on) .js-only { display: none; }

.icontent__text.error { color: #ff7070; fill: #ff7070; }

.shop__notice { color: #b855ff; font-size: 0.75em; line-height: 1.6666666667; }
.shop__notice svg { display: block; width: 16px; height: 16px; margin: 0 0 10px; }

.error { text-align: center; }
.error .icontent__subtitle { font-weight: 400; font-size: 1.5em; line-height: 1.6666666667; /* make line-height 2 * $base-height */ margin: 0 0 20px; }

.error__icon { margin-bottom: 30px; }
.error__icon svg { width: 30px; height: 30px; }

/* Cart section */
.cart { background-color: #f7f7f7; }
.cart__title { font-size: 1.5em; line-height: 1.6666666667; text-transform: uppercase; margin-top: 20px; }
.cart__fieldset { max-width: 960px; margin: 0 auto; padding: 40px 10px; border: 0 none; }
.cart__section { margin: 0 auto; }
.cart__section__title { position: relative; font-weight: 400; font-size: 1.5em; line-height: 1.6666666667; margin: 0 0 20px; }
.cart__section__description { margin: 0 0 20px; font-size: 1em; }
.cart__options { display: flex; flex-direction: column; list-style-type: none; margin: 40px 0 0; padding: 0; }

.cart__option { overflow: hidden; position: relative; }
.cart__option input[type="radio"], .cart__option input[type="checkbox"] { display: none; }
.cart__option label { position: relative; display: block; max-width: 100%; box-sizing: content-box; background-color: #fff; color: #222; border: 1px solid #AFB0B2; border-bottom-width: 21px; padding: 19px; margin: 0 0 20px; text-decoration: none; cursor: pointer; }
.cart__option label:after { position: absolute; bottom: -20px; left: 0; right: 0; content: "CLICK TO SELECT"; text-align: center; color: #fff; font-size: 0.75em; line-height: 1.6666666667; letter-spacing: 1px; }
@media (pointer: coarse) { .cart__option label:after { content: "TAP TO SELECT"; } }
.cart__option--withbutton label { cursor: default; margin-bottom: 0; }
.cart__option--withbutton label:after { content: "CONTACT US"; }
.cart__option__title { margin: 0 0 10px; font-size: 1.375em; line-height: 1.8181818182; font-weight: normal; text-align: left; }
.cart__option__title__plus { padding: 0; }
.cart__option__features { font-size: 0.75em; line-height: 1.6666666667; color: #666; margin: 0 0 60px; padding: 0; list-style: disc; }
.cart__option__features li { margin: 0 0 5px 20px; }
.cart__option--withbutton .cart__option__features { padding-bottom: 20px; }
.cart__option__features + .cart__option__features { margin-top: -70px; margin-bottom: 50px; }
.cart__option__features:last-child { margin-bottom: 60px; }
.cart__option__features + .cart__option__features:last-child { margin-bottom: 10px; }
.cart__option__footer { position: absolute; left: 0; right: 0; bottom: 0; padding: 0 19px 19px; }
.cart__option--withbutton .cart__option__footer { padding-bottom: 39px; }
.cart__option__price { color: #222; font-size: 32px; /* 32px */ line-height: .75em; margin: 0; text-align: right; }
.cart__option__price span { font-size: 12px; /* 12 px */ line-height: 1em; }
.cart__option__button { position: relative; top: -40px; width: 100%; }
.cart__option input:checked + label { border: 2px solid #B855FF; border-bottom-width: 22px; padding: 18px; }
.cart__option input:checked + label:after { content: "SELECTED"; bottom: -21px; }
.cart__option input:checked + label .cart__option__footer { padding: 0 18px 18px; }

/* Totals */
.total { width: 100%; border: 0 none; background: #ffffff; }
.total__wrap { max-width: 960px; padding: 60px 10px 40px; margin: 0 auto; }
.total__title { margin-bottom: 40px; font-size: 1.5em; line-height: 1.6666666667; text-transform: uppercase; }
.total__section { display: flex; flex-direction: column; }
.total__packages { margin: 0; list-style-type: none; padding: 0; position: relative; }
.total__packages__title { font-size: 1.375em; line-height: 1.8181818182; font-weight: normal; }
.total__package { display: none; padding: 0; margin: 0 0 20px; }
.total__package.show { display: block; }
.total__package__item { margin: 0 0 20px; padding-right: 3em; line-height: 1.25; position: relative; list-style: none; overflow: hidden; }
.total__package__item:after { content: ""; position: absolute; width: 100%; bottom: 4px; border-bottom: 2px dotted #222; z-index: 1; left: 0; }
.total__package__item__desc, .total__package__item__price { position: relative; z-index: 2; background-color: #ffffff; }
.total__package__item__desc { padding-right: 5px; }
.total__package__item__price { float: right; padding-left: 5px; right: -3em; }
.total__notice { font-size: 0.75em; line-height: 1.6666666667; color: #222; margin: 20px 0; }
.total__notice em { font-style: normal; text-transform: uppercase; }
.total__summary { margin: 0; text-align: center; }
.total__summary__price { font-size: 3em; line-height: 1.25; font-weight: normal; }
.total__summary .required { list-style-type: none; margin: 20px auto; padding: 0; color: #666; width: 260px; }
.total__summary .required__option { font-size: 0.75em; line-height: 1.6666666667; position: relative; margin: 0 0 10px; text-align: left; }
.total__summary .required__option input { position: absolute; margin-left: 60px; left: -20px; }
.total__summary .required__option label { margin-left: 60px; }
.total__summary .required__option span:after { content: ""; display: block; width: 20px; height: 20px; border: 1px solid blue; background-color: white; border-radius: 50%; }
.total__summary .required__errormsg { color: #ff7070; }
.total__summary .required__errormsg:empty { display: none; }

#connect_notice { display: none; }
#connect_notice.show { display: block; }

@media (min-width: 667px) { .cart__options { flex-direction: row; flex-wrap: wrap; justify-content: space-between; }
  .cart__section--package .cart__option { height: 335px; }
  .cart__section--package .cart__option label { min-height: 255px; }
  .cart__section--package .cart__option:last-child { height: auto; }
  .cart__section--package .cart__option:last-child label { min-height: 0; }
  .cart__section--installation .cart__option { height: 260px; }
  .cart__section--installation .cart__option label { min-height: 180px; }
  .cart__section--installation .cart__option:last-child { height: auto; }
  .cart__section--installation .cart__option:last-child label { min-height: 0; }
  .cart__option { width: 48.9361702128%; }
  .cart__option:last-child { width: 100%; }
  .cart__option:last-child ul.cart__option__features { column-count: 3; } }
@media (min-width: 768px) { .total__title { margin-bottom: 60px; }
  .total__section { flex-direction: row; justify-content: space-between; }
  .total__packages { width: 48.9361702128%; }
  .total__summary { width: 48.9361702128%; } }
@media (min-width: 960px) { .cart__options { flex-wrap: nowrap; }
  .cart__section--package .cart__option { height: 405px; }
  .cart__section--package .cart__option label { min-height: 325px; }
  .cart__section--package .cart__option:last-child { height: 405px; }
  .cart__section--package .cart__option:last-child label { min-height: 325px; }
  .cart__section--installation .cart__option { height: 270px; }
  .cart__section--installation .cart__option label { min-height: 190px; }
  .cart__section--installation .cart__option:last-child { height: 270px; }
  .cart__section--installation .cart__option:last-child label { min-height: 190px; }
  .cart__option { width: 31.914893617%; }
  .cart__option:last-child { width: 31.914893617%; }
  .cart__option:last-child ul.cart__option__features { column-count: 1; }
  .total__packages { width: 57.4468085106%; }
  .total__summary { width: 40.4255319149%; } }
/* OVERRIDES (need to be listed last because of C in CSS) */
@media (min-width: 768px) { .mobile-only { display: none !important; } }

/*# sourceMappingURL=styles.css.map */
