@import "components/variables";
@import "components/common";

@import "components/typekit";

/*
 *  GENERAL
 */
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth; // Smooth scrolling in FF, Chrome
}

html, body {
	width: 100%;
	//height: 100%;
	
	margin: 0;
	padding: 0;

	font-family: "open-sans", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	
	color: $color-text;
}

body {
	display: flex;
	flex-direction: column;
	//overflow: hidden;
	
	> * {
		order: 2;
	}
	
	.page-wrap {
		//overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	
	.notice {
		order: 1;
	}
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 $base-height;
}

a {
	color: $color-secondary;
	text-decoration: underline;
	cursor: pointer;
	position: relative;
	font-weight: $semibold;
	
	svg.more-icon {
		display: inline-block;
		width: 8px;
		height: 14px;
		position: relative;
		top: 2px;
		left: 6px;
		fill: $color-secondary;
	}
	svg.download-icon {
		display: inline-block;
		width: 10px;
		height: 14px;
		position: relative;
		top: 2px;
		left: 6px;
		fill: $color-secondary;
	}
}

a:hover {
	color: $color-secondary-hover;
	
	svg.more-icon {
		fill: $color-secondary-hover;
	}
	svg.download-icon {
		fill: $color-secondary-hover;
	}
}

.a--light{
	text-decoration: none;
	font-weight: normal;
}


.text--semibold {
	font-weight: $semibold;
}

.text--uppercase {
	text-transform: uppercase;
}

small {
	font-size: .75em;
}

.hidden {
	display: none!important;
	visibility: hidden!important;
}

.nowrap {
	white-space: nowrap;
}

.debug {
	@media (min-width: 960px) {
		//position: fixed;
		//top:0;
		//left: 0;
		//z-index: -1;

		//width: 100%;
		//height: 100%;
		background-image: url(/assets/img/columns-960x20.png) !important;
		background-repeat: repeat-y !important;
		background-position: top center !important;
	}
}
.debug16 {
	@media (min-width: 960px) {
		//position: fixed;
		//top:0;
		//left: 0;
		//z-index: -1;

		//width: 100%;
		//height: 100%;
		background-image: url(/assets/img/columns-960x20-16.png) !important;
		background-repeat: repeat-y !important;
		background-position: top center !important;
	}
}

.debug-wrapper{
	z-index: 0;
	position: relative;
}

input[type="text"],
input[type="email"] {
	display: inline;
	border: 0;
	height: 40px;
	min-width: 20em;
	padding: 8px 1.5em;
	vertical-align: top;
	font-size: 16px;
}

button {  /* default button style sets the font, so override */
	font-family: "open-sans", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

button, .btn {
	display: inline-block;
	min-width: 2 * $column-width + $gutter-width;
	padding: 13px $gutter-width;
	
	background-color: $color-secondary;
	color: $color-light;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	letter-spacing: .05em;

	outline: none;
	border: none;
	box-shadow: none;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: none;
	cursor: pointer;
	border-radius: 1px;
}

button:hover, .btn:hover {
	color: $color-light;
	background-color: $color-secondary-hover;
}

.btn--inverse {
	color: $color-secondary;
	background-color: $color-light;
	box-shadow: inset 0 0 0 1px $color-secondary;
}
.btn--inverse:hover {
	color: $color-secondary-hover;
	background-color: $color-light;
	box-shadow: inset 0 0 0 1px $color-secondary-hover;

}

.btn--image {
	border: 0;
	padding:0;
	min-width: 0;
	background-color: transparent;
	
	img, svg {
		height: 100%;
	}
}
.btn--image:hover {
	background-color: transparent;
}

.btn--primary {
	color: $color-light;
	background-color: $color-main;
}
.btn--primary:hover {
	background-color: $color-main-hover;
}
.btn--primary--inverse {
	color: $color-main;
	background-color: $color-light;
	box-shadow: inset 0 0 0 1px $color-main;
}
.btn--primary--inverse:hover {
	color: $color-main-hover;
	background-color: $color-light;
	box-shadow: inset 0 0 0 1px $color-main-hover;
}

.btn--secondary {
	background-color: $color-light;
	color: $color-secondary;
}

.btn--secondary:hover {
	background-color: $color-light;
	color: $color-main;
}

.btn--secondary--border {
	border: solid $color-secondary 1px;
}

select{
	background-color: $color-grey;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 5px;
}
select:focus{
	outline: none;
}

select {
	/* styling */
	background-color: $color-grey;
	border: none;
	border-radius: 0;
	display: inline-block;
	font: inherit;
	padding: $base-height/2 $base-height*2 $base-height/2 $base-height/2;

	/* reset */
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;

	/* arrows */
	background-image: linear-gradient(45deg, transparent 50%, $color-bg 50%), linear-gradient(135deg, $color-bg 50%, transparent 50%);
	background-position: calc(100% - 25px) 1em, calc(100% - 15px) 1em;
	background-size: 10px 10px, 10px 10px;
	background-repeat: no-repeat;
}

/*
 * MODULES
 */
@import "components/module0-navigation";
@import "components/module1-intro";
@import "components/module2-mediacontent";
@import "components/module3-list";
@import "components/module4-testimonials";
@import "components/module5-logos";
@import "components/module6-banner";
@import "components/module7-footer";
@import "components/module8-overlay";
@import "components/module9-boxchart";
@import "components/module10-imagegrid";
@import "components/module11-notice";
@import "components/module12-contact";
@import "components/module12-contact";
@import "components/module13-graphicsbanner";
@import "components/module14-compatibility";
@import "components/module15-video";
//@import "components/module16-text-banner";
@import "components/module17-customer";
@import "components/module18-events";
@import "components/module19-bigphoto";
@import "components/module20-centralcontent";
@import "components/page-shop";

/*
 * OVERRIDES (need to be listed last because of C in CSS)
 */
.mobile-only {
	@media (min-width: ($navigation-collapsed-max + 1)) {
		display: none !important;
	}
}
