$bigTitleSize: 30px;
$bigTitleLineHeight: 2 * $base-height;

.section-title {
	max-width: $fullPageWidth;
	margin: (3 * $base-height) auto $base-height;
	padding: 0;
	border-left: $gutter-width/2 solid transparent;
	border-right: $gutter-width/2 solid transparent;
	font-size: $bigTitleSize;
	line-height: $bigTitleLineHeight;
	
	h1, h2, h3, h4, h5, h6 {
		font-family: "azo-sans-web", sans-serif;
		text-transform: uppercase;
		letter-spacing: .03em;
		font-size: 100%;
	}
	&.section-title--central {
		max-width: 8 * $column-width + 7 * $gutter-width;
		text-align: center;
		
		h1, h2, h3, h4, h5, h6 {
			margin-right: 0;
		}
	}
	&.section-title--wrapped {
		border: 0;
		max-width: 100%;
	}
	@media (min-width: 500px) {
		margin-bottom: (2 * $base-height);
	}
	@media (min-width: 768px) {
		padding-left: 0;
		padding-right: 0;
	}
	@media (min-width: 901px) {
		margin-top: (4 * $base-height);
		margin-bottom: (4 * $base-height);
		
		h1, h2, h3, h4, h5, h6 {
			margin-right: (6 * $column-width + 6 * $gutter-width);
		}
	}
}

.section-title__pretitle {
	font-size: 24px;
	line-height: (40/24);
}
