/*
 * TESTIMONIALS
 */
$slide-animation-length: 5 * 12s;  /* Time: 12s * num_of_slides */
$control-size: 10px;
$control-margin: 8px;
$arrow-size: 30px;

.testimonial {
	background: $color-bg;
	color: $color-light;
	overflow: hidden;
	
	&.testimonial--with-logos {
		padding-top: 2 * $base-height;
	}
	&.testimonial--light {
		background: transparent;
		color: $color-text;
	}
}

.testimonial__wrapper {
	width: (12 * $column-width + 12 * $gutter-width);
	max-width: 100%;
	margin: (2 * $base-height) auto;
	padding: 0 $gutter-width/2;
	text-align: center;
	
	a {
		color: inherit;
		text-decoration: none;
		font-weight: inherit;
		
		:hover {
			color: inherit;
		}
	}
	
	blockquote {
		margin: $base-height 0;
	}
	
	p {
		margin: 0 0 1.5em;
		
		/* if we do it on P, we have a whitespace issue (between before and text) */
		> a:before, > span:before {
			margin-right: .1em;
			content: "“";
		}
		> a:after, > span:after {
			margin-left: .1em;
			content: "”";
		}
	}
	
	cite {
		text-transform: uppercase;
		font-style: normal;
		letter-spacing: .1em;
	}
	
	&.testimonial__wrapper--airbnb {
		position: relative;
		
		&:before {
			content: "";
			width: 76px;
			height: 76px;
			border-radius: 50%;
			background: #FF5A5F url(/assets/img/logos/airbnb-mark.png) center 15px no-repeat;
			background-size: 40px;
			transform: translate(-38px, -40px);
			position: absolute;
			left: 50%;
			z-index: 1;
		}
	}
}

.carousel {
	position: relative;
	margin: 0 auto;
	padding: (2 * $base-height) 0 $base-height;
	width: (10 * $column-width + 9 * $gutter-width);
	max-width: 100%;
	background-color: $color-testimonials;
	overflow: hidden;
	
	.nav__control {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: $arrow-size;
		height: $arrow-size;
		top: 50%;
		background-color: $color-testimonials;
		fill: $color-static;
		cursor: pointer;
		transform: translateY(-$arrow-size / 2);
	
		&--left {
			left: 0;
		}
		&--right {
			right: 0;
		}
	}
}

.carousel__strip {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	transition: transform .25s;
	
	> li {
		width: 100%;
		padding: 0 $gutter-width;
		
		@media (min-width:800px) {
			padding: 0 (1 * $column-width + 1 * $gutter-width);
		}
	}
}

.carousel__controls {
	position: relative; // Otherwise they are hidden
	display: flex;
	justify-content: center;
	margin: 0 0 $base-height;
	padding: 0;
	list-style-type: none;
	line-height: 0;
	
	label {
		display: inline-block;
		width: $control-size;
		height: $control-size;
		background-color: $color-static;
		border: 1px solid transparent;
		border-radius: 50%;
		cursor: pointer;
		user-select: none;
		margin: $control-margin;
		position: relative;
		
		&:before {  // used to enlarge the hit area
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: $control-size + $control-margin * 2;
			height: $control-size + $control-margin * 2;
			transform: translateX(-$control-margin) translateY(-$control-margin);
		}
	}
}

/* Disable auto animation after user interaction */
input:checked ~ .carousel {  // clicking on slide indicator
	.carousel__strip {
		animation: none;
		transition: transform .25s;
	}
	label[for="s1"],
	label[for="s2"],
	label[for="s3"],
	label[for="s4"],
	label[for="s5"],
	label[for="s6"],
	label[for="s7"],
	label[for="s8"],
	label[for="s9"] {
		animation: none;
	}
}
.js-init {  // javascript slide control
	.carousel__strip {
		animation: none;
		transition: transform .25s;
	}
	label[for="s1"],
	label[for="s2"],
	label[for="s3"],
	label[for="s4"],
	label[for="s5"],
	label[for="s6"],
	label[for="s7"],
	label[for="s8"],
	label[for="s9"] {
		animation: none;
	}
}

#s1:checked ~ .carousel label[for="s1"],
#s2:checked ~ .carousel label[for="s2"],
#s3:checked ~ .carousel label[for="s3"],
#s4:checked ~ .carousel label[for="s4"],
#s5:checked ~ .carousel label[for="s5"],
#s6:checked ~ .carousel label[for="s6"],
#s7:checked ~ .carousel label[for="s7"],
#s8:checked ~ .carousel label[for="s8"],
#s9:checked ~ .carousel label[for="s9"] {
	border: 1px solid transparent;
	background-color: $color-secondary;
}

/* Carousel with 5 elements */
@keyframes carousel-5-slide {
	0% {
		transform: translateX(0);
	}
	18% {
		transform: translateX(0);
	}
	20% {
		transform: translateX(-20%);
	}
	38% {
		transform: translateX(-20%);
	}
	40% {
		transform: translateX(-40%);
	}
	58% {
		transform: translateX(-40%);
	}
	60% {
		transform: translateX(-60%);
	}
	78% {
		transform: translateX(-60%);
	}
	80% {
		transform: translateX(-80%);
	}
	98% {
		transform: translateX(-80%);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes carousel-5-control-1 {
	0% {
		background-color: $color-secondary;
	}
	18% {
		background-color: $color-secondary;
	}
	20% {
		background-color: $color-static;
	}
	98% {
		background-color: $color-static;
	}
	100% {
		background-color: $color-secondary;
	}
}
@keyframes carousel-5-control-2 {
	0% {
		background-color: $color-static;
	}
	18% {
		background-color: $color-static;
	}
	20% {
		background-color: $color-secondary;
	}
	38% {
		background-color: $color-secondary;
	}
	40% {
		background-color: $color-static;
	}
	100% {
		background-color: $color-static;
	}
}
@keyframes carousel-5-control-3 {
	0% {
		background-color: $color-static;
	}
	38% {
		background-color: $color-static;
	}
	40% {
		background-color: $color-secondary;
	}
	58% {
		background-color: $color-secondary;
	}
	60% {
		background-color: $color-static;
	}
	100% {
		background-color: $color-static;
	}
}
@keyframes carousel-5-control-4 {
	0% {
		background-color: $color-static;
	}
	58% {
		background-color: $color-static;
	}
	60% {
		background-color: $color-secondary;
	}
	78% {
		background-color: $color-secondary;
	}
	80% {
		background-color: $color-static;
	}
	100% {
		background-color: $color-static;
	}
}
@keyframes carousel-5-control-5 {
	0% {
		background-color: $color-static;
	}
	77% {
		background-color: $color-static;
	}
	80% {
		background-color: $color-secondary;
	}
	97% {
		background-color: $color-secondary;
	}
	100% {
		background-color: $color-static;
	}
}
.carousel__5 .carousel__strip {
	width: 500%;
}
.carousel__5 .carousel__strip {
	animation: carousel-5-slide $slide-animation-length infinite ease;
}
.carousel__5 label[for="s1"] {
	animation: carousel-5-control-1 $slide-animation-length infinite linear;
}
.carousel__5 label[for="s2"] {
	animation: carousel-5-control-2 $slide-animation-length infinite linear;
}
.carousel__5 label[for="s3"] {
	animation: carousel-5-control-3 $slide-animation-length infinite linear;
}
.carousel__5 label[for="s4"] {
	animation: carousel-5-control-4 $slide-animation-length infinite linear;
}
.carousel__5 label[for="s5"] {
	animation: carousel-5-control-5 $slide-animation-length infinite linear;
}
#s1:checked ~ .carousel__5 .carousel__strip {
	transform: translateX(0);
}
#s2:checked ~ .carousel__5 .carousel__strip {
	transform: translateX(-20%);
}
#s3:checked ~ .carousel__5 .carousel__strip {
	transform: translateX(-40%);
}
#s4:checked ~ .carousel__5 .carousel__strip {
	transform: translateX(-60%);
}
#s5:checked ~ .carousel__5 .carousel__strip {
	transform: translateX(-80%);
}
