$breakPoint: 768px;

/*
Usual structure:
icontent (icontent--backgroundgrey) (icontent--paddingtop) (icontent--nomargin)
	section-title
	icontent__box (icontent__box--mediaright)
		icontent__media
		icontent__text
	icontent__band
		icontent__box
			icontent__media
			icontent__text

Sizes:
- media: 6
- text 5
- layouts:
	- media - text - (empty)
	- (empty) - text - media (in icontent__box--mediaright)

Exception:
icontent
	section-title
	icontent__box
		icontent__text
		icontent__text

Solution:
- margin set on __text
- no margins on __media
- width and margin set in % (needs 100% for flex, otherwise weird things happen)

 */


.icontent {
}

.icontent__band {
	background-color: $color-testimonials;
	overflow: hidden;
	
	&.icontent__band--dark {
		background-color: $color-bg;
		color: $color-static;
	}
}

.icontent__box {
	margin: (2 * $base-height) auto;
	border-left: $gutter-width/2 solid transparent;
	border-right: $gutter-width/2 solid transparent;
	display: flex;
	flex-direction: column;
	
	&.icontent__box--nobottom {
		margin-bottom: 0;
	}
	&.icontent__box--nomargin {
		margin-bottom: 0;
		margin-top: 0;
	}
	&.icontent__box--texttop {
		@media (max-width: $breakPoint - 1) {
			flex-direction: column-reverse;
			.icontent__text {
				padding-top: 0;
				padding-bottom: $base-height;
			}
		}
	}
	&.icontent__box--mediafloatedright {
		.icontent__text {
			padding: 0;
			margin: 0;
		}
		.icontent__first {
			order: -1;
		}
	}
	@media (min-width: 500px) {
		border-left: $gutter-width/2 solid transparent;
		border-right: $gutter-width/2 solid transparent;
		max-width: icontent__box
	}
	@media (min-width: $breakPoint) {
		margin: (4 * $base-height) auto;
		flex-direction: row;
		max-width: 12 * $column-width + 12 * $gutter-width;
		
		&.icontent__box--texttop {
			flex-direction: row;
		}
		&.icontent__box--mediaright {
			flex-direction: row-reverse;
			.icontent__text {
				margin: 0 $fullgridgutter 0 0;
				padding: 0 $fullgridgutter 0 0;
			}
		}
		&.icontent__box--mediafloatedright {
			display: block;
			.icontent__media {
				float: right;
			}
		}
	}
}
.section-title + .icontent__box, .icontent__box + .icontent__box {
	padding-top: 0;
}

.icontent__media {
	padding: 0;
	margin: 0;
	line-height: 0;
	
	> div {
		position: relative;
	}
	> iframe {
		max-width: 100%;
	}
	img {
		display: block;
		max-width: 100%;
		
		&.img--landscape {
			display:block;
			@media screen and (orientation:portrait) {
				display: none;
			}
		}
		&.img--portrait {
			display:none;
			@media screen and (orientation:portrait) {
				display: block;
			}
		}
	}
	a {
		position: absolute;
		top: 0;
		right: 0;
		
		button {
			padding-top: $base-height;
			padding-bottom: $base-height;
		}
	}
	&.icontent__media--phone {
		width: 100%;
		text-align: center;
		position: relative;
		z-index: 1;
		overflow: hidden;
		margin-bottom: 0;
		
		.icontent__media--phone__phone {
			position:relative;
			margin-bottom: -2%;
			
			&--full {
				margin-bottom: 0;
			}
			
			img {
				padding-left: 21%;
				padding-right: 21%;
				position: relative;
			}
		}
	}
	
	@media (min-width: $breakPoint) {
		width: (6 * $fullgridcol + 5 * $fullgridgutter);
		
		&.icontent__media--phone {
			width: (6 * $fullgridcol + 5 * $fullgridgutter);
		}
		a {
			top: unset;
			bottom: 0;
		}
	}
}

.icontent__text {
	padding: $base-height 0 0;
	margin: 0;
	
	@media (min-width: $breakPoint) {
		width: (6 * $fullgridcol + 5 * $fullgridgutter);
		margin: 0 0 0 $fullgridgutter;
		padding: 0 0 0 $fullgridgutter;
		
		&:first-child { /* exception where we have 2 icontent__text elements - aboutus.html */
			margin-left: 0;
			margin-right: 0;
			padding: 0 $fullgridgutter 0 0;
		}
		& + .icontent__text {
			padding: 0 $fullgridgutter 0 0;
		}
		&.icontent__text--mid {
			padding-top: 1 * $base-height;
		}
		&.icontent__text--low {
			padding-top: 2 * $base-height;
		}
		&.icontent__text--wide {
			width: (11 * $fullgridcol + 10 * $fullgridgutter);
		}
	}
}/*
@media (min-width: $breakPoint) {
	.icontent__media + .icontent__text {
		padding-left: $fullgridcol/2;
		padding-right: $fullgridcol/2;
	}
}*/

.icontent__subtitle {
	font-weight: 400;
	margin: 0 0 $base-height;
	font-size: 1.5em;
	line-height: 1.25;
		
	@media (min-width: 500px) {
		font-size: 1.5em;
		line-height: 1.25;
	}
}

.icontent__content {
	h3 {
		font-size: 1em;
		text-transform: uppercase;
		margin: 0;
	}
	h4 {
		font-size: 1em;
		margin: 0;
	}
	p {
		margin: 0 0 $base-height;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	ul {
		padding-left: 1.5em;
		margin: 0 0 $base-height;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	em {
		font-style: normal;
		font-weight: $semibold;
		color: #000;
	}
	a:not(.btn) {
		color: $color-secondary;
		font-weight: normal;
	}
	a:not(.btn):hover {
		color: $color-secondary-hover;
	}
	.with-next {
		margin-bottom: 0;
	}
}

.icontent__image--padded {
	padding: $base-height/2 0;
}

/* CAREERS */
.icontent--careers {
	overflow: hidden;
	margin-bottom: 2 * $base-height;
	
	.section-title {
		h1 + h2 {
			font-family: "open-sans", sans-serif;
			font-size: 16px;
			line-height: 20px;
		}
	}
	.icontent__box {
		margin-top: 0;
		margin-bottom: 2 * $base-height;
	}
}

/* HERO */
.icontent--hero {
	
	h2 {
		padding: 0;
		opacity: .6;
		font-weight: 400;
		line-height: 1.25;
		font-size: 20px;
		
		@media screen and (min-width: 320px) {
			font-size: calc(20px + 20 * ((100vw - 320px) / 680));
		}
		@media screen and (min-width: 1000px) {
			font-size: 40px;
		}
	}
	
	.btn {
		width: 5 * $column-width + 4 * $gutter-width;
		max-width: 100%;
	}
}