$maxColumn: 800px;
$maxMobile: 480px;

.compat {
	width: 100%;
	overflow: hidden;
	background-color: $color-testimonials;
}

.compat__wrap {
	max-width: 12 * $column-width + 12 * $gutter-width;
	margin: (4 * $base-height) auto;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}

.compat__header {
	width: 100%;
	margin: 0 $gutter-width/2;
	padding: 0;
	
	font-size: 30px;
	font-weight: bold;
	line-height: (4/3);
	text-transform: uppercase;
}

.compat__content {
	background-color: $color-light;
	padding: 4 * $base-height $column-width+$gutter-width;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0 $gutter-width/2;
	
	@media (max-width: 930px) {
		padding: 4 * $base-height $gutter-width;
	}
	
	
	@media (max-width: $maxColumn) {
		flex-direction: column;
	}
	
	h2 {
		font-weight: normal;
	}
	
	.compat__content__item {
		width: calc(50% - 10px);
		@media (max-width: $maxColumn) {
			width: 100%;
		}
	}
	
	.compat__content__item__form {
		min-width: 380px;
		
		@media (max-width: $maxColumn) {
			min-width: 0;
		}
	}
	
	.compat__content__result {
		margin-top: $base-height * 5;
		margin-left: $gutter-width;
		@media (max-width: $maxColumn) {
			margin-top: $base-height * 2;
			margin-left: 0;
		}
	}
	
	select {
		width: 100%;
		margin-top: $base-height;
		max-width: 4 * $column-width + 3 * $gutter-width;
		
		@media (max-width: $maxMobile) {
			max-width: none;
		}
	}
	
	.compat__buttons {
		margin-top: $base-height;
		display: flex;
		flex-wrap: wrap;
		
		@media (max-width: $maxMobile) {
			margin-top: 0;
		}
		
		button {
			width: 100%;
			max-width: 2 * $column-width + $gutter-width;
			margin-right: $gutter-width;
			
			@media (max-width: $maxMobile) {
				max-width: none;
				margin-right: 0;
				margin-bottom: 0.75 *$base-height;
			}
		}
	}
}

.compat__list {
	p {
		color: $color-static;
	}
	
	margin-top: $base-height * 1.5;
	div {
		height: 1.2*$base-height;
		width: 1.2*$base-height;
		border-radius: 1.2*$base-height/2;
		position: relative;
	}
	
	.compat__list__item {
		display: inline-flex;
		width: 100%;
		margin: $base-height/4 0;
		
		p {
			margin: 0 $base-height;
		}
	}
	
	.compat__list__item__yes {
		display: none;
	}
	.compat__list__item__no {
		display: block;
		background-color: transparent;
		border: solid $color-grey 2px;
	}
	
}

.compat__content__result--show {
	
	.compat__list {
		p {
			color: $color-text;
		}
	}
	
	.compat__list__item__yes {
		display: none;
		background-color: $color-secondary;
	}
	
	.compat__list__item__yes:after {
		content: " ";
		display: block;
		width: 5px;
		height: 12px;
		border: solid white;
		border-width: 0 2px 2px 0;
		position: absolute;
		left: 9px;
		top: 7px;
		margin-top: -3px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	.compat__list__item__no {
		display: block;
		background-color: $color-grey;
	}
	
	.compat__list__item__no:after {
		content: " ";
		display: block;
		width: 15px;
		height: 15px;
		border: solid white;
		border-width: 0 0 2px 0;
		position: absolute;
		left: 8px;
		top: 0px;
		margin-top: -3px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	
	.compat__list__item__no:before {
		content: " ";
		display: block;
		width: 15px;
		height: 15px;
		border: solid white;
		border-width: 0 0 2px 0;
		position: absolute;
		left: -3px;
		top: 0px;
		margin-top: -3px;
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	
	.compat__list__item--confirm {
		.compat__list__item__yes {
			display: block;
			
		}
		
		.compat__list__item__no {
			display: none;
		}
	}
}

.compat__model:disabled {
	opacity: 0.8;
}

.compat-error {
	color: $color-fail;
}

.compat__footnote { /* SAME AS .list__footnote */
	order: 3;
	margin: 2 * $base-height 0;
	p {
		margin: 0;
	}
	
	@media (max-width: 700px) {
		margin: $base-height $gutter-width/2;
	}
}