.notice {
	display: none;
	width: 100%;
	z-index: 5; // Hide other buttons
	padding: $base-height $gutter-width/2 $base-height/2;

	font-size: 14px;
	background: linear-gradient(to top, #eee 0%, #f7f7f7 8%, #f7f7f7 100%);

	&.on {
		display: block;
	}

	a,
	a:visited {
		color: $color-secondary;
	}

	.notice__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 40px;
		height: 40px;
		min-width: 20px;
		padding: 0;
		color: #AFB0B2;
		background-color: transparent;
		border-radius: 50%;
		font-size: 30px;
		line-height: 0;

		> svg {
				width: 16px;
				height: 16px;
				fill: #AFB0B2;
		}
	}
	
	@media (max-width:660px) {
		padding-top: 2 * $base-height;
	}
	@media (max-width:490px) {
		background: linear-gradient(to top, #eee 0%, #f7f7f7 6%, #f7f7f7 100%);
	}
	@media (max-width:320px) {
		background: linear-gradient(to top, #eee 0%, #f7f7f7 4%, #f7f7f7 100%);
	}
}

.privacy-policy .notice {
	display: block;
	position: relative;
}

.notice__wrap {
	/*width: (12 * $column-width + 11 * $gutter-width);*/
	width: (8 * $column-width + 7 * $gutter-width);
	max-width: 100%;
	margin: 0 auto;

	h2 {
		margin: 0 auto .75em;
		padding: 0;
		font-size: 18px;
		font-weight: $semibold;
		line-height: 1;
	}
}

.notice__description {
	margin: 0 0 $base-height;
	padding: 0;
}

.notice__actions {
	text-align: center;
	margin: 0 0 $base-height;
	
	button {
		margin: 0 $gutter-width/2;
	}
}

.notice__status {
	max-width: 40em;
	margin: 0 0 $base-height;

	&.notice__status--hide {
		display: none;
	}
}
