$full-col: $column-width + $gutter-width;

.newintro {
	position: relative;
	overflow: hidden;
	width: 100%;
	
	&.newintro--background {
		height: 350px;  /* this is actually min-height */
		transition: padding-bottom 1s;
		
		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .8) 30%, rgba(255, 255, 255, 0) 90%);
			z-index: 1;
			transition: background 1s;
			
			@media (min-width: 1 * $fullPageWidth) {
				background: linear-gradient(rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0));
			}
			@media (min-width: 1.5 * $fullPageWidth) {
				background: linear-gradient(rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0));
			}
			@media (min-width: 2 * $fullPageWidth) {
				background: linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0));
			}
		}
	}
	
	&.newintro--bigbackground {
		/* landscape */ 
		@media screen and (orientation:landscape) {
			padding-bottom: 60%;
			.newintro__background__media--portrait {
				display: none;
			}
			.newintro__background__media--landscape {
				display: block;
			}
		}
		@media screen and (orientation:landscape) and (min-width: $fullPageWidth) {
			padding-bottom: 60%;
		}
		@media screen and (orientation:landscape) and (min-width: 1.5 * $fullPageWidth) {
			padding-bottom: 50%;
		}
		@media screen and (orientation:landscape) and (min-width: 2 * $fullPageWidth) {
			padding-bottom: 45%;
		}
		/* portrait */
		@media screen and (orientation:portrait) {
			padding-bottom: 115%;
			.newintro__background__media--portrait {
				display: block;
			}
			.newintro__background__media--landscape {
				display: none;
			}
		}
		@media screen and (orientation:portrait) and (min-width: 415px) {
			padding-bottom: 100%;
		}
		@media screen and (orientation:portrait) and (min-width: 600px) {
			padding-bottom: 80%;
		}
		@media screen and (orientation:portrait) and (min-width: 900px) {
			padding-bottom: 75%;
		}
	}
	&.newintro--bigbackground--white:after {
		display: none;
	}
	
	&.newintro--smallbackground {
		padding-bottom: 0;
		
		&:after {
			background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .8) 60%, rgba(255, 255, 255, 0) 100%);
		}
		.newintro__background:after {
			height: 75%;
		}
		/* landscape */ 
		@media screen and (orientation:landscape) {
			.newintro__background__media--portrait {
				display: none;
			}
			.newintro__background__media--landscape {
				display: block;
			}
		}
		/* portrait */
		@media screen and (orientation:portrait) {
			.newintro__background__media--portrait {
				display: block;
			}
			.newintro__background__media--landscape {
				display: none;
			}
		}
	}
}
.newintro__background {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	transition: top 1s;
	
	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		height: 50%;
		background: linear-gradient(rgba(255,255,255,1), rgba(255, 255, 255, 0));
		z-index: 1;
	}
	/*
	&--white {
		&:after {
			display: none;
		}
	}
	 */
}
.newintro__background__media {
	display: block;
	width: 100%;
}
.newintro__content {
	position: relative;
	top: 0;
	width: $fullPageWidth;
	border-left: $gutter-width/2 solid transparent;
	border-right: $gutter-width/2 solid transparent;
	max-width: 100%;
	margin: 0 auto;
	z-index: 2;
	text-shadow: 0 0 10px #fff;
	
	@media (max-width: $fullPageWidth) {
		padding: $base-height 0;
	}
	
	.btn {
		padding-top: $base-height;
		padding-bottom: $base-height;
	}
}
.newintro__content__title {
	opacity: .7;
	padding: 0;
	h1 {
		font-family: "azo-sans-web", sans-serif;
		line-height: (4/3); // 80px
		text-transform: uppercase;
		font-weight: 900;
		font-size: 30px;
		
		@media screen and (min-width: 320px) {
			font-size: calc(30px + 30 * ((100vw - 320px) / 680));
		}
		@media screen and (min-width: 1000px) {
			font-size: 60px;
		}
	}
}
.newintro__content__title__lead {
	font-size: 20px;
	opacity: .6;
	
	@media screen and (min-width: 320px) {
		font-size: calc(20px + 20 * ((100vw - 320px) / 680));
	}
	@media screen and (min-width: 1000px) {
		font-size: 40px;
	}
}
.newintro__content__subtitle {
	text-align: right;
	padding: 0 $gutter-width/2;
	opacity: .6;
	h2 {
		font-weight: 400;
		line-height: 1.25;
		text-align: right;
		font-size: 20px;
		
		@media screen and (min-width: 320px) {
			font-size: calc(20px + 20 * ((100vw - 320px) / 680));
		}
		@media screen and (min-width: 1000px) {
			font-size: 40px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	@media (min-width: 768px) {
		padding: 0 0 0 $full-col;
	}
	@media (min-width: $fullPageWidth) {
		padding: 0 0 0 (2 * $full-col);
	}
}
.newintro__content__body {
	padding: 0;
	
	h2 {
		font-weight: 400;
		line-height: 1.25;
		font-size: 20px;
		opacity: .6;
	}
	a:not(.btn) {
		font-weight: normal;
	}
	.btn {
		margin: 0 1.428571em 1.428571em 0;
	}
}