.text-banner {
	max-width: $fullPageWidth;
	margin: 0 auto;
}

.text-banner__wrapper {
	padding: (2 * $base-height) (2 * $gutter-width);
	margin: 2 * $base-height $gutter-width;
	background-color: $color-testimonials;
	
	@media (min-width: 768px) {
		margin: 4 * $base-height $gutter-width/2;
		padding: (3 * $base-height) (1 * $column-width + 1 * $gutter-width);
	}
}

.text-banner__content {
	display: flex;
	margin: 2 * $base-height 0;
	justify-content: space-around;
	flex-wrap: wrap;
	
	p {
		margin: 0 0 $base-height;
		width: 3 * $column-width + 2 * $gutter-width;
		text-align: center;
		width: 100%;
		
		@media (min-width: 600px) {
			width: auto;
		}
	}
	&:first-child {
		margin-top: 0;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&.text-banner__content--full-width {
		p {
			width: 100%;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}
	
	@media (min-width: 768px) {
		justify-content: space-between;
	}
}

