/*
 * BANNER
 * default: dark grey (can user btn, btn--primary, btn--secondary)
 * 
 * color modifier:
 * - banner--alternative: blue (can use btn--secondary only)
 * - banner--plain: transparent (can use btn, btn--primary)
 * - banner--grey: grey (can use btn, btn--primary)
 *
 * other modifiers:
 * - banner--smaller: less spacing between elements
 * - banner--spacer-image: background image in banner
 */
 
.banner {
	display: flex;
	justify-content: center;
	color: $color-light;
	background-color: $color-bg;
	padding: (5 * $base-height) $gutter-width (5 * $base-height);
	text-align: center;
	
	.btn, .btn--primary {
		line-height: $base-height;
		margin: $base-height $gutter-width/2 0;
		padding-top: $base-height;
		padding-bottom: $base-height;
		box-shadow: 0 0 12px rgba(0, 0, 0, .1);
	}
	.btn--image {
		line-height: 0;
		padding: 0;
		box-shadow: none;
		height: 3 * $base-height;
	}
	.banner__buttons {
		p a {color: #fff;}
	}
	.banner__title + .banner__buttons, 
	.banner__bigtitle + .banner__buttons {
		margin: $base-height 0 0;
	}
	#mc_embed_signup {
		width: 6 * $column-width + 5 * $gutter-width;
		max-width: 100%;
		margin: 0 auto;
		
		.btn {
			line-height: 1;
			padding: 13px 20px;
		}
		
		input[type="email"] {
			margin: 0;
			background: $color-grey;
			width: 100%;
			max-width: 100%;
			min-width: 160px;
			padding: 8px 5px;
			
			@media (min-width: 360px) {
				width: calc(100% - #{$signUpButtonWidth});
				max-width: 4 * $column-width + 4 * $gutter-width;
			}
		}
		#mc-embedded-subscribe {
			width: 100%;
			
			@media (min-width: 360px) {
				width: auto;
			}
		}
	}
	> div {
		max-width: 100%;
	}
}

.banner__title {
	font-weight: 400;
	font-size: 1.25em;
	line-height: 1.5;
	margin: 0 0 $base-height;
	
	@media (min-width: 600px) {
		font-size: 1.5em;
		line-height: 1.25;
	}
}

.banner__bigtitle {
	margin: 0;
	color: $color-light;
	font-size: $base-height;
	font-weight: bold;
	line-height: 1.5;
	text-transform: uppercase;
}

.banner__text {
	margin: 0 auto;
	width: 8 * $column-width + 7 * $gutter-width;
	max-width: 100%;
}

.banner__iconwrapper {
	width:100%;
	text-align: center;
	a {
		display: inline-block;
	}
	.banner__icon {
		margin: $base-height/2 $gutter-width/2;
		width: $gutter-width * 2;
		
		@media (min-width: 600px) {
			margin: $base-height $gutter-width;
		}
	}
}

.banner--alternative {
	background-color: $color-secondary;
}

.banner--plain {  /* clean, no padding */
	background-color: transparent !important;
	padding: 0 $base-height;
}

.banner--grey {  /* grey background, can do btn or btn--primary but not btn--secondary */
	background-color: $color-testimonials;
	color: $color-text;
	
	.banner__title {
		color: $color-text;
	}
	.banner__bigtitle {
		color: $color-text;
	}
}

.banner--smaller {
	padding: (3 * $base-height) $gutter-width (3 * $base-height);
	
	.banner__title + .banner__buttons,
	.banner__bigtitle + .banner__buttons {
		margin: 0;
	}
}

.banner--spacer-image {
	padding: 0;
}

.banner--onecolumn {
	.banner__input,
	.banner__button {
		width: 100%;
		margin-bottom: $base-height;
	}
	.banner__buttons {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.btn, .btn + .btn {
		margin: 0 0 $base-height;
		@media (min-width: 600px) {
			width: 6 * $column-width + 5 * $gutter-width;
		}
	}
}

.banner--forward {
	padding: $base-height 0;
	text-align: left;
	
	& > div {
		width: (12 * $column-width + 11 * $gutter-width);
		margin: 0 $gutter-width;
		max-width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		text-align: center;
		
		p {
			margin: .25em 0;
		}
		
		.banner__text {
			margin: 0;
			width: auto;
		}
		
		@media (min-width: 768px) {
			flex-direction: row;
			text-align: left;
			
			.btn {
				margin-top: 0;
			}
		}
	}
	
	&.banner--grey {
		padding: (2 * $base-height) 0;
	}
}

.banner--sidebyside {
	padding: (2 * $base-height) 0;
	text-align: left;
	
	& > div {
		width: (12 * $column-width + 11 * $gutter-width);
		margin: 0 $gutter-width/2;
		max-width: 100%;
		text-align: left;
		display: flex;
		flex-direction: column;
		
		p {
			margin: 0 0 $gutter-width/2;
		}
		
		.banner__text {
			margin: 0;
			width: auto;
			order: 2;
		}
		
		.banner__buttons {
			order: 1;
			margin: 0 0 $base-height/2;
			text-align: center;
			
			img {
				width: 100%;
				max-width: 2 * $column-width + 1 * $gutter-width;
				padding: 0;
			}
			
			&--vertical {
				order: 3;
				
				img {
					width: auto;
					max-width: none;
					height: 100%;
					max-height: 2 * $column-width + 1 * $gutter-width;
					padding: $base-height 0 0;
				}
			}
		}
		
		.btn {
			margin-top: 0;
			margin-left: 0;
		}
		
		@media (min-width: 568px) {
			display: block;
			
			.banner__buttons {
				float: right;
				width: (3 * $column-width + 2 * $gutter-width);
				margin: 0;
				
				img {
					max-width: (3 * $column-width + 4 * $gutter-width);
					padding: 0 0 0 $gutter-width;
				}
				
				&.banner__buttons--vertical {
					width: (2 * $column-width + 1 * $gutter-width);
				}
			}
			.banner__text {
				text-align: left;
			}
		}
		@media (min-width: 620px) {
			.banner__buttons {
				width: (4 * $column-width + 3 * $gutter-width);
				
				img {
					max-width: (4 * $column-width + 3 * $gutter-width);
					padding: 0 $column-width/2;
				}
			}
		}
	}
	
	&-framed {
		padding: 0;
		margin: 0 0 (4 * $base-height);
		background: transparent;
		
		& > div {
			background: $color-testimonials;
			padding: (2 * $base-height) $column-width/2;
			
			@media (min-width: 768px) {
				padding: (3 * $base-height) ($column-width + $gutter-width);
			}
		}
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-width: 1100px) {
	.banner__spacer--low {
		display:none;
	}
	.banner__spacer--hi {
		display:block;
	}
}
.banner--media {
	.btn {
		white-space: nowrap;
		min-width: (3 * $column-width + 2 * $gutter-width);
	}
}
/*
@media (max-width: 599px) {
	.banner__input,
	.banner__button {
		width: 100%;
		margin-bottom: $base-height;
	}
	.banner__buttons {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.banner .btn, .banner .btn + .btn {
		margin-left: 0;
		margin-top: $base-height;
	}
}*/