/*
 * LOGOS
 * Display by default as a banner piece with 1 line of 3 logos.
 *
 * Modifiers:
 * - logos--light - light grey background (used as full content block)
 * - logos__list--multiline - multiple line of logos (3 at width, 2 in between, 1 below $narrow
 * 
 */
$vertical: 640px;
$narrow: 375px;
 
.logos {
	background-color: $color-bg;
	color: $color-light;
	overflow: hidden;
	
	&--light {
		background-color: $color-testimonials;
		color: $color-text;
		p, .logos__image {
			opacity: .4;
		}
		.logos__link:hover .logos__image {
			opacity: .75;
		}
	}
	&--small .logos__wrap {
		margin: (2 * $base-height) auto;
	}
}

.logos__wrap {
	max-width: 12 * $column-width + 12 * $gutter-width;
	border-left: $gutter-width/2 solid transparent;
	border-right: $gutter-width/2 solid transparent;
	margin: (4 * $base-height) auto;
	text-align: center;
	
	p {
		margin: 0 0 $base-height;
	}
}
.testimonial + .logos .logos__wrap {
	margin-top: 0;
}

.logos__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 12 * $column-width + 11 * $gutter-width;
	max-width: 100%;
	overflow: hidden;

	list-style-type: none;
	margin: $base-height auto;
	padding: 0;
	
	//&--titled {
	//	padding: 0 ((1 * $column-width + 1 * $gutter-width) / (12 * $column-width + 11 * $gutter-width) * 100%);
	//}
}

.logos__item {
	width: (4 * $column-width + 3 * $gutter-width) / (12 * $column-width + 11 * $gutter-width) * 100%;
	max-width: 4 * $column-width + 3 * $gutter-width;
	margin: 0 ($gutter-width / (12 * $column-width + 11 * $gutter-width) * 100%) 0 0;
	padding: 0 $gutter-width;
	text-align: center;
	float:left;
	line-height: 0;
}
.logos__list--multiline .logos__item {
	margin-bottom: $base-height * 2;
}

.logos__link {
	display: inline-block;
	line-height: 0;
	min-height: $base-height;
	&:hover .logos__image {
		opacity: 1;
	}
}
.logos__image {
	display: inline-block;
	max-width: 100%;
	max-height: 4 * $base-height;
	opacity: .7;
	transition: opacity .333s ease-out;
}

@media (max-width: $narrow) {
	.logos__list {
		display: flex;
	}
	.logos__item {
		margin: $base-height 0;
		width: auto;
	}
}
@media (min-width: $narrow) and (max-width: $vertical - 1) {
	.logos__item {
		margin-top: $base-height;
		margin-bottom: $base-height;
		width: auto;
	}
	.logos__list--multiline {
		display: block;
		
		.logos__item {
			width: (6 * $column-width + 5 * $gutter-width) / (12 * $column-width + 11 * $gutter-width) * 100%;
		}
		.logos__item:nth-child(2n) {
			margin-right: 0;
		}
		.logos__item:nth-child(2n+1) {
			clear: left;
		}
	}
	//.logos__list--titled {
	//	.logos__item {
	//		width: (5 * $column-width + 4 * $gutter-width) / (10 * $column-width + 9 * $gutter-width) * 100%;
	//	}
	//}
}
@media (max-width: $vertical - 1) {
	.logos {
		padding: $base-height 0;
	}
	.logos__title h1 {
		margin-right: 0;
	}
	.logos__list {
		flex-direction: column;
		margin: 0;
		padding: 0 $gutter-width;
		//padding: 0 ((1 * $column-width + 1 * $gutter-width) / (12 * $column-width + 11 * $gutter-width) * 100%);
	}
}
@media (min-width: $vertical) {
	.logos__item:nth-child(3n) {
		margin-right: 0;
	}
	.logos__item:nth-child(3n+1) {
		clear: left;
	}
	//.logos__list--titled {
	//	.logos__item {
	//		width: (3 * $column-width + 2 * $gutter-width) / (10 * $column-width + 9 * $gutter-width) * 100%;
	//	}
	//}
	.logos__list--multiline {
		display: block;
	}
}