$stardard-width: 8 * $column-width + 7 * $gutter-width;  // design decision
$breakpoint: $stardard-width + $gutter-width;  // standard width + gutter/2 on each side

.centralcontent { 
	.section-title {
		max-width: $stardard-width;
		text-align: left;
		
		h1 {
			margin-right: 0;
		}
		
		@media (min-width: $breakpoint) { 
			text-align: center;
			border: 0;
		}
	}
}

.centralcontent__box {
	margin: 0 auto (4 * $base-height);
	width: 12 * $column-width + 11 * $gutter-width;
	border-left: $gutter-width/2 solid transparent;
	border-right: $gutter-width/2 solid transparent;
	max-width: 100%;
	
	&--framed {
		margin: (2 * $base-height) auto;
		background-color: $color-testimonials;
		padding: (2 * $base-height) 0 0;
		overflow: hidden;
	}
	
	@media (min-width: $breakpoint) {
		text-align: center;
	}
}

.centralcontent__content {
	margin: 0 auto 2 * $base-height;
	width: 8 * $column-width + 7 * $gutter-width;
	max-width: 100%;
	
	p {
		margin: 0 0 $base-height;
	}
	
	img {
		max-width: 100%;
	}
	
	a {
		font-weight: normal;
	}
}

.centralcontent__subtitle {
	font-weight: 400;
	margin: 0 0 $base-height;
	font-size: 1.25em;
	line-height: 1.5;
		
	@media (min-width: 500px) {
		font-size: 1.5em;
		line-height: 1.25;
	}
}
h3.centralcontent__subtitle {
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0;
}