$imageGridBreakMin: 720px;
$maxImgWidth: 4 * $column-width + 3 * $gutter-width;
$full-width: 12 * $column-width + 12 * $gutter-width;

// In the design - we have 12 columns and 11 spacers (ignoring the outside padding)
// We ignore the first column and spacer, so we're left with 11 columns and 10 spacers
// Each column is wide 3 * the spacer.
$imggridunit: 100/((11*3)+10)*1%;
$imggridcol: 3 * $imggridunit;
$imgcolwidth: 3 * $imggridcol + 2 * $imggridunit;

$fullgridgutter: 100/((12*3)+11)*1%;
$fullgridcol: 3 * $fullgridgutter;

$fontSizeBig: 30px;
$fontSizeMd: 16px;
$fontSizeS: 14px;
$fontSizeXS: 12px;

$opacityTransition: opacity $animation_duration ease-in-out;


.imagegrid {
	width: 100%;
	
	&.imagegrid--band {
		overflow: hidden;
		background-color: $color-testimonials;
	}
	&.imagegrid--horizontal {
		@media (min-width: $imageGridBreakMin) {
			.imagegrid__itemwrapper {
				margin-bottom: 2 * $base-height;
				
				.imagegrid__griditem {
					flex-basis: auto;
					max-width: 100%;
					margin-bottom: 2 * $base-height;
					
					.imagegrid__imagewrapper {
						width: $imgcolwidth;
						margin-right: $imggridunit;
						margin-bottom: $base-height;
						float: left;
					}
					.imagegrid__text {
						column-count: 2;
						column-gap: ($imggridunit * 10 + $imggridcol * 11) / ($imggridunit * 7 + $imggridcol * 8) * $imggridunit;
					}
				}
			}
		}
	}
	&.imagegrid--wide {
		.imagegrid__itemwrapper {
			padding-left: 0;
			
			.imagegrid__griditem {
				width: 100%;
				max-width: 6 * $column-width + 5 * $gutter-width;
				
				.imagegrid__title {
					text-transform: none;
					margin: $base-height 0;
					font-size: 1.5em;
					font-weight: normal;
				}
				.imagegrid__text {
					font-size: $fontSizeMd;
					margin: 0;
				}
				
				@media (min-width: $imageGridBreakMin) {
					text-align: center;
					flex-grow: 1;
					flex-basis: $fullgridcol * 6 + $fullgridgutter * 5;
					max-width: $fullgridcol * 6 + $fullgridgutter * 5;
					
					.imagegrid__text {
						margin: 0 $gutter-width;
					}
				}
			}
		}
		.section-title--central {
			text-align: left;
			
			@media (min-width: $imageGridBreakMin) {
				text-align: center;
			}
		}
	}
}

.imagegrid__wrap {
	max-width: $full-width;
	margin-left: auto;
	margin-right: auto;
	padding: 0 $gutter-width/2;
	margin-top: 4 * $base-height;
}

.imagegrid__header {
	width: 100%;
	margin: 0;
	padding: 0 0 (4 * $base-height);
	font-size: $fontSizeBig;
	font-weight: bold;
	line-height: (4/3);
	text-transform: uppercase;
}
	
.imagegrid__itemwrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	
	@media (min-width: $imageGridBreakMin) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 0 0 ($fullgridcol + $fullgridgutter);
	}
}

.imagegrid__griditem {
	width: 100%;
	margin: 0 auto 3 * $base-height;
	
	@media (min-width: 340px) {
		width: $maxImgWidth;
	}
	@media (min-width: $imageGridBreakMin) {
		flex-basis: $imgcolwidth;
		flex-grow: 1;
		width: auto;
		max-width: $imgcolwidth;
		margin: 0 0 (4 * $base-height);
	}
}
.imagegrid__imagewrapper {
	background-color: $color-bg;
	position: relative;
}
.imagegrid__hoveritem {
	opacity: 0;
	position: absolute;
	top: calc(50% + #{$fontSizeMd});
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	transition: $opacityTransition;
}
.imagegrid__arrow {
	width: 100%;
	height: 25px;
	fill: $color-light;
}

.imagegrid__hovertext {
	font-size: $fontSizeMd;
	font-weight: $semibold;
	text-transform: uppercase;
	margin: 5px 0 0;
	letter-spacing: 1px;
	color: $color-light;
}

.imagegrid__imageoverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.imagegrid__image {
	width: 100%;
	display: block;
	fill: $color-light;
	opacity: 1;
	position: relative;
	z-index: 1;
	transition: $opacityTransition;
	
	svg {
		display: block;
	}
}

.imagegrid__image--emptysquare:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.imagegrid__image__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	font-size: $fontSizeMd;
	font-weight: $semibold;
	text-transform: uppercase;
	margin: 0;
}

.imagegrid__image__title--big {
	font-size: 6em;
}

.imagegrid__imagelink:hover .imagegrid__hoveritem {
	opacity: 1;
	transition: $opacityTransition;
}

.imagegrid__imagelink:hover .imagegrid__image {
	opacity: .2;
	transition: $opacityTransition;
}

.imagegrid__imagelink:hover .imagegrid__image--hoverdissapear {
	opacity: 0;
	transition: $opacityTransition;
}

.imagegrid__title {
	margin: $base-height auto 0;
	font-size: $fontSizeMd;
	text-transform: uppercase;
	line-height: 1.25;
	
	@media (min-width: $imageGridBreakMin) {
		margin: $base-height/4 auto;
	}
}

/* when there is no text we want extra margin on the top of the title to balance it out */
.imagegrid__title--notext {
	margin-bottom: $base-height/4;
}

.imagegrid__pretitle {
	font-size: $fontSizeMd;
	margin: $base-height auto 0;
	line-height: 1.6;
	font-weight: 200;
}

.imagegrid__pretitle + .imagegrid__title {
	margin-top: 0;
}

.imagegrid__subtitle {
	font-size: $fontSizeMd;
	margin: 0 auto;
	line-height: 1.25;
	font-weight: 200;
}

.imagegrid__subtitle2 {
	font-size: $fontSizeXS;
	font-style: italic;
	margin: 0 auto;
	line-height: 1.667;
	font-weight: 400;
}

.imagegrid__socialwraperlink {
	.imagegrid__socialimg {
		margin: 8px 0 0;
		height: 16px;
	}
}

.imagegrid__text {
	margin: $base-height 0 0;
	font-size: $fontSizeS;
}


.imagegrid__spacer {
	flex-grow: 1;
}
