$breakingPoint: 767px;

.customer {
	max-width: $fullPageWidth;
	width: 100%;
	margin: 0 auto;
	padding: 0 ($gutter-width / 2);
}

.customer__pretitle {
	font-weight: normal;
	font-style: italic;
	font-size: 24px;
}

.customer__title {
	font-size:30px;
	text-transform: uppercase;
	font-family: "azo-sans-web", sans-serif;
}

.customer__content {
	padding: ($base-height * 3) ($fullgridcol + $fullgridgutter);
	background-color: $color-testimonials;
	position: relative;
	margin-bottom: 4 * $base-height;

	@media (max-width: $breakingPoint) {
		padding: $gutter-width * 1.5;
	}
}

.customer__content__badge {
	background-color: $color-active;
	border-radius: 50%;
	width: (2 * $column-width + 1 * $gutter-width);
	height: (2 * $column-width + 1 * $gutter-width);
	position: absolute;
	top: (-$base-height * 3);
	right: ($fullgridcol + $fullgridgutter);

	svg {
		fill: $color-light;
		margin: -5% 20%;
		width: 60%;
	}
	@media (max-width: 960px) {
		display: none;
	}
}

.customer__content__title {
	margin-left: ($fullgridcol / 2);
	font-size: 24px;
	font-weight: normal;

	@media (max-width: $breakingPoint) {
		margin-left: 0;
	}
}

.customer__benefit__wrapper {
	display: flex;
	flex-direction: column;
}

.customer__benefit {
	display: flex;
	margin: $base-height 0;

	p {
		max-width: (5 * $column-width + 4 * $gutter-width);
		width: (5 * $fullgridcol + 4 * $fullgridgutter);
		flex-grow: 1;
		margin-left: $fullgridgutter;
	}
	@media (max-width: $breakingPoint) {
		flex-direction: column;
		align-items: center;
		width: 100%;
		
		p {
			margin-left: 0;
			width: 100%;
			max-width: 100%;
		}
	}
}

.customer__benefit__title {
	display: inline-flex;
	align-items: center;
	max-width: (5 * $column-width + 3 * $gutter-width);
	width: (5 * $fullgridcol + 3 * $fullgridgutter);
	margin-right: $fullgridgutter;
	flex-grow: 1;

	img {
		margin: 0 ($column-width / 2);
		width: (1 * $column-width + 1 * $gutter-width);
		height: auto;
	}
	h3 {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: $semibold;
		margin: $base-height 0;
		line-height: 1.2;
		color: $color-legal;
	}
	@media (max-width: $breakingPoint) {
		justify-content: flex-start;
		max-width: 100%;
		width: 100%;
		
		img {
			margin-left: 0;
		}
		h3 {
			align-self: flex-start;
		}
	}
}

.customer__benefit__banner {
	background-color: $color-light;
	padding: ($base-height * 2) $fullgridcol;
	display: flex;
	align-items: center;
	
	button {
		width: (1 * $column-width + 4 * $gutter-width);
		padding: $base-height 0;
	}
	@media (max-width: $breakingPoint) {
		flex-direction: column;
		padding: ($base-height * 2) ($gutter-width * 2);
		
		button {
			margin-top: $base-height;
		}
	}
}

.customer__benefit__banner__content {
	flex-grow: 1;
	margin-right: $gutter-width;

	h3 {
		text-transform: uppercase;
		font-size: 20px;
		font-weight: $semibold;
		line-height: 1.2;
		margin-bottom: $base-height/4;
	}
	@media (max-width: $breakingPoint) {
		margin: 0;
		
		p {
			font-weight: $semibold;
			margin-top: 2*$base-height;
		}
	}
}

.offer {
	width: (12 * $column-width + 11 * $gutter-width);
	max-width: 100%;
	margin: 0 auto (2 * $base-height);
	background-color: $color-testimonials;
	overflow: hidden;
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	
	.section-title {
		margin: $base-height ($gutter-width / 2);
		border: 0;
		padding: 0;
		flex-basis: 100%;
		
		@media (min-width: 768px) {
			margin: (2 * $base-height) ($column-width / 2);
		}
		
		h1 {
			margin-bottom: 0;
		}
	}
}

.offer__content {
	padding: 0 ($gutter-width / 2) $base-height;
	flex-basis: 100%;
	
	@media (min-width: 768px) {
		padding: 0 ($column-width / 2) (2 * $base-height);
		
		&--column {
			flex-basis: auto;
			width: (6 * $column-width + 5 * $gutter-width);
			max-width: (6 * $column-width + 5 * $gutter-width) / (12 * $column-width + 11 * $gutter-width) * 100%;
		}
	}
	
	h2 {
		font-size: 1.5em;
		line-height: 1.25;
		font-weight: normal;
		margin: 0 0 $base-height;
	}
	
	h3 {
		font-size: 1em;
		margin: 0 0 $base-height;
	}
	
	ol {
		padding-left: $column-width/2;
		list-style: none;
		margin: 0 0 $base-height;
		
		li {
			counter-increment: inst;
			position: relative;
			margin: 0 0 $base-height;
			
			&:before {
				content: counter(inst) ")";
				position: absolute;
				left: -$column-width/2;
			}
		}
	}
	
	p {
		margin: 0 0 $base-height;
	}
}

.offer__content__action {
	color: $color-main;
	
	.offer__content__icon:before {
		background-color: $color-main;
	}
	
	.btn {
		width: 100%;
	}
}

.offer__content__smallprint {
	font-size: .75em;
	line-height: 1.5;
}

.offer__content__box {
	background: $color-light;
	padding: $base-height $column-width/2;
}

.offer__content__icon {
	padding-left: $column-width/2;
	position: relative;
	
	&:before {
		content: "";
		border-radius: 50%;
		background: $color-text;
		color: $color-light;
		width: 16px;
		height: 16px;
		position: absolute;
		left: 0;
		transform: translateY(-6px);
		top: .75em;
		display: block;
		text-align: center;
		font-size: 12px;
		line-height: 16px;
		font-weight: bold;
	}
	
	&.offer__content__icon--questionmark:before {
		content: "?";
	}
	
	&.offer__content__icon--exclamation:before {
		content: "!";
	}
}