.events {
	width: $fullPageWidth;
	max-width: 100%;
	margin: (3 * $base-height) 0;
	border-left: $gutter-width/2 solid transparent;
	border-right: $gutter-width/2 solid transparent;
	
	&.hidden {
		display: none;
	}
	
	@media (min-width: 600px) {
		margin: (6 * $base-height) auto (4 * $base-height);
	}
}

.events__wrapper {
	position: relative;
	margin: 0 auto;
	width: (10 * $column-width + 9 * $gutter-width);
	max-width: 100%;
	background-color: $color-testimonials;
	padding: (2 * $base-height) (2 * $gutter-width);
	text-align: center;
	
	@media (min-width: 600px) {
		padding: (3 * $base-height) (3 * $gutter-width);
	}
}

.events__icon {
	width: 60px;
	position: absolute;
	left: 50%;
	transform: translateX(-30px);
	top: -30px;
}

.events__title {
	font-size: 1em;
	font-weight: normal;
}
	
.events__details {
	font-weight: 400;
	font-size: 1.25em;
	line-height: 1.5;
	margin: 0 0 20px;
	
	&.hidden {
		display: none;
	}
	abbr {
		text-decoration: none;
	}
	@media (min-width: 600px) {
		font-size: 1.5em;
		line-height: 1.25;
	}
}
