.boxchart {
	display: flex;
}

.boxchart__wrap {
	max-width: 6 * $column-width + 5 * $gutter-width;
	margin: 0 auto;
}

.boxchart__title {
	background-color: $color-bg;
	color: $color-light;

	margin: 0;
	padding: $base-height	2em;

	font-size: 16px;
	line-height: 1.25;
	text-align: center;
	text-transform: uppercase;
}

.boxchart__boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.boxchart__box {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 2 * $column-width + $gutter-width;
	height: 2 * $column-width + $gutter-width;

	margin-top: $base-height;

	background-color: rgb(242, 242, 242);

	text-align: center;
	font-weight: bold;
}

.boxchart__box + .boxchart__box {
	margin-left: $gutter-width;
}

@media (max-width: 6 * $column-width + 5 * $gutter-width) {
	.boxchart__wrap {
		max-width: 4 * $column-width + 3 * $gutter-width;
	}

	.boxchart__box:nth-child(odd) {
		margin-left: 0;
	}

	.boxchart__box:nth-child(even) {
		margin-left: $base-height;
	}
}

@media (max-width: 4 * $column-width + 3 * $gutter-width) {
	.boxchart__wrap {
		max-width: 3 * $column-width + 2 * $gutter-width;
	}

	.boxchart__boxes {
		display: block;
		width: 2 * $column-width + $gutter-width;
		margin: 0 auto;
	}

	.boxchart__box + .boxchart__box,
	.boxchart__box {
		margin: $base-height 0 0;
	}
}
