$mininav-point-narrow: 650px;

nav.top {
	display: flex;
	justify-content: space-between;
	position: relative;
	height: 60px;
	width: 100%;
	max-width: 12 * $column-width + 12 * $gutter-width;
	margin: 20px auto (2 * $base-height);
	border-left: $gutter-width/2 solid transparent;
	border-right: $gutter-width/2 solid transparent;

	/* LOGO */
	.logo {
		display: block;
		margin-right: $gutter-width;
	}

	.logo-image {
		position: relative;
		height: 36px;
	}

	.show-menu {
		width: 0;
		height: 0;
		display: none;
	}

	.show-menu-icon--open,
	.show-menu-icon--close {
		width: $gutter-width * 2;
		height: $gutter-width * 2;
		display: none;
	}

	.show-menu-icon__icon {
		width: 2 * $base-height;
		height: 2 * $base-height;
	}

	.navigation {
		display: flex;
		//width: 8 * $column-width + 7 * $gutter-width;
		height: 100%;
	}/*
	.navigation:before {
		position: absolute;
		left: 0;
		top: 20px;
		content: "";
		width: 100%;
		height: 14px;
		border: 1px solid red;
		z-index: 100;
	}*/

	/* PERSONAL / BUSINESS SITE SWITCH */
	.mainnav {
		display: flex;
		width: 2 * $column-width + $gutter-width;
		align-items: center;
		list-style-type: none;
		margin: 0 $gutter-width 1px 0;  // bottom margin to bottom align all texts
		padding-left: 0;

		> li {
			margin-right: $gutter-width;
		}
	}

	.mainnav__link {
		color: $color-text;
		opacity: .4;
		text-decoration: none;
		text-transform: uppercase;

		.mainnav__link__icon{
			width: 10px;
			margin-bottom: -4px;
		}
	}
	.mainnav__link:hover {
		opacity: 1;
	}

	.mainnav__link--selected {
		opacity: 1;
		font-weight: bold;
		border-bottom: 5px solid rgba(0, 0, 0, .2);
	}

	.mainnav__link--collapsed_only{
		display: none;
	}

	/* SITE SUBPAGES */
	.subnav {
		display: flex;
		//width: 5 * $column-width + 4 * $gutter-width;
		align-items: center;
		list-style-type: none;
		margin: 0 0 1px;  // bottom margin to bottom align all texts
		padding-left: 0;
		text-transform: lowercase;

		> li {
			flex: auto;
			margin-left: $gutter-width/2;
			
			@media (min-width: 824px) {  // 823 = pixel2xl sideways 
				margin-left: $gutter-width;
			}
		}
		
		& + .subnav {
			position: relative;
			text-transform: none;
			margin-left: $gutter-width/2;
			
			@media (min-width: 824px) {  // 823 = pixel2xl sideways 
				margin-left: $gutter-width;
			}
			
			&:before {
				position: absolute;
				left: -.25em;
				content: "|";
			}
		}
	}

	.subnav__link {
		color: $color-text;
		font-weight: normal;
		text-decoration: none;
	}
	
	.subnav__link:hover {
		border-bottom: 5px solid rgba(0, 0, 0, .2);
	}
	
	.subnav__link--selected {
		color: $color-text;
		font-weight: bold;
		border-bottom: 5px solid rgba(0, 0, 0, .4);
		text-decoration: none;
	}
	
	.subnav__link--offer {
		color: $color-main;
	}
	

	/* NAV FOR MOBILE ONLY */
	.mobilenav {
		display: none;
	}


	/* NAVIGATION ACTION BUTTON */
	.get-klevio {
		display: inline-block;
		height: 100%;
		min-width: 140px;
		width: 2 * $column-width + 1 * $gutter-width;
		margin: 0 0 0 $gutter-width;
		padding: $base-height 0;
		color: $color-light;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		line-height: $base-height;
	}

}

@media (max-width: $navigation-collapsed-max) {
	nav.top {
		display: block;
		margin-top: 0;
		margin-bottom: 0;
		padding: $base-height 0;
		height: auto;

		.navigation {
			flex-direction: column;
			height: 0;
			overflow: hidden;
			transition: height $animation_duration;
			line-height: $base-height;
		}

		.mainnav__link .mainnav__link__icon{
			display: none;
		}

		.mainnav__link--collapsed_only{
			display: inline;
		}

		.show-menu-icon--open,
		.show-menu-icon--close {
			position: absolute;
			top: 20px;
			right: 0;
		}

		.show-menu-icon--open  {
			display: block;
		}

		.show-menu-icon--close {
			display: none;
		}

		.show-menu:checked ~ .show-menu-icon--open {
			display: none;
		}
		.show-menu:checked ~ .show-menu-icon--close {
			display: block;
		}

		.show-menu:checked ~ .navigation {
			display: flex;
			height: 424px;  // MAGIC: Measured (382 normally)
			width: 100%;
			transition: height $animation_duration;
			border-bottom: 2px solid #222;
			
			> div {
				clear: both;
				width: 100%;
			}
		}

		/* PERSONAL / BUSINESS SITE SWITCH */
		.mainnav {
			display: block;
			margin-left: 0;
			width: auto;
			padding: (2 * $base-height) $gutter-width $base-height 0;

			> li {
				margin-top: $base-height / 2;
			}
		}

		/* SITE SUBPAGES */
		.subnav {
			display: block;
			margin-left: 0;
			padding: 0 $gutter-width $base-height 0;
			position: relative;

			> li {
				margin-top: $base-height;
			}
		}

		.subnav:before {
			display: block;
			content: "";
			border-top: 2px solid $color-text;
			width: $gutter-width;
			margin-bottom: $base-height;
			position:absolute;
			top:0;
		}
		
		
		.subnav + .subnav {
			margin-left: 0;
			
			&:before {
				content: "";
				left: 0;
			}
		}

		/* NAV FOR MOBILE ONLY */
		.mobilenav {
			display: block;
			margin: 0;
			padding: 0 $gutter-width $base-height 0;
			position: relative;

			list-style-type: none;

			> li {
				margin-top: $base-height / 2;
			}
		}

		.mobilenav:before {
			display: block;
			content: "";
			border-top: 2px solid $color-text;
			width: $gutter-width;
			margin-bottom: $base-height;
			position: absolute;
			top:0;
		}

		.mobilenav__link {
			color: $color-text;
			font-weight: $semibold;
			text-decoration: none;
			text-transform: uppercase;
		}

		.mobilenav__link--selected {
			color: $color-text;
			font-weight: bold;
			border-bottom: 5px solid rgba(0, 0, 0, .4);
			text-decoration: none;
		}

		.mobilenav__amp {
			font-style: normal;
			font-weight: normal;
		}

		/* NAVIGATION ACTION BUTTON */
		.get-klevio {
			display: none;
		}
	}
}


