/*
 * VIDEO
 */

// TODO: make it automatically resize to correct ratio 
.video__player {
	width: (6 * $column-width + 5 * $gutter-width);
	max-width: 100%;
	margin: 0 auto;
	
	iframe {
		margin-bottom: $base-height;
		width: 100%;
		
		@media (min-width: 600px) {
			margin-bottom: (2 * $base-height);
		}
	}
	p {
		margin: 0;
	}
	
	@media (min-width: 600px) {
		text-align: center;
	}
}