$intro-graphics-small: 700px;

.graphics-banner {
	&.graphics-banner--narrow {
		.graphics-banner__wrapper {
			width: (8 * $column-width + 9 * $gutter-width);
		}
		.graphics-banner__content__item {
			margin: 0;
		}
	}
	&.graphics-banner--band {
		overflow: hidden;
		background-color: $color-testimonials;
	}
}

.graphics-banner__wrapper {
	width: $fullPageWidth;
	max-width: 100%;
	margin: (2 * $base-height) auto;
	border-left: $gutter-width/2 solid transparent;
	border-right: $gutter-width/2 solid transparent;
	overflow: hidden;
	
	@media (min-width: $intro-graphics-small) {
		margin: (4 * $base-height) auto;
	}
}

.graphics-banner__title { /* big_title */
	font-family: "azo-sans-web", sans-serif;
	margin: (3 * $base-height) 0;
	padding: 0;
	font-size: 30px;
	font-weight: bold;
	line-height: (4/3);
	text-transform: uppercase;
}

.graphics-banner__content {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: start;
	
	@supports (-ms-ime-align: auto) {
		justify-content: space-around;
	}
}

.graphics-banner__content__item {
	margin: 0 $gutter-width/2;
	text-align: center;
	max-width: 160px;
	width: 100%;
	
	@media (min-width: $intro-graphics-small) {
		margin: $base-height/2 $gutter-width/2;
	}
}

.graphics-banner__content__item__graphic {
	width: 100%;
	
	&.graphics-banner__content__item__graphic--small-screen {
		display: block;
		@media (min-width: $intro-graphics-small) {
			display: none;
		}
	}
	&.graphics-banner__content__item__graphic--big-screen {
		display: none;
		@media (min-width: $intro-graphics-small) {
			display: block;
		}
	}
}

.graphics-banner__content__item__text {
	font-family: "azo-sans-web", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	color: $color-legal;
	font-size: calc(10px + ((100vw - 320px) / 65));
	margin: ($base-height/2) 0 0;
	
	@media (min-width: $intro-graphics-small) {
		margin: (2 * $base-height) 0 0;
		font-size: 1em;
	}
}

.graphics-banner--small-icons {
	.graphics-banner__content__item__graphic {
		max-width: 110px;
	}
}