$footer-font-size: 14px;
$signup-text-color: #808285;
$signup-bg-color: #ddd;
$maxSplit: 960px;
$midSplit: 660px;
$smallSplit: 360px;

/*
 * MailChimp (used in footer)
 */
#mc_embed_signup {
	display: block;
	margin: 0;
	
	form {
		padding: 0;
		margin: 0 0 (2 * $base-height);
		
		@media (min-width: $maxSplit) {
			margin-bottom: 0;
		}
	}
	
	.mc-field-group {display:none;}
	
	h1 {
		font-size: 20px;
		line-height: 4/3;

		@media screen and (min-width: 320px) {
			font-size: calc(20px + 10 * ((100vw - 320px) / 680));
		}

		@media screen and (min-width: 1000px) {
			font-size: 30px;
		}
	}
	
	input {
		border: none;
		border-radius: 0;
		font-family: 'Open Sans', sans-serif;
	}

	.mce-lists {
		margin-top: $base-height;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		margin-top: $base-height / 2;
	}

	.btn {
		min-width: $signUpButtonWidth;
	}

	.button {
		border-radius: 0;
		background-color: $color-secondary;
	}

	.button:hover {
		background-color: $color-secondary-hover;
	}

	div#mce-responses {
		float: unset;
		top: unset;
		width: 100%;
		margin: 0 0 $base-height/2;
		padding: 0;
	}
}

#mce-responses {
	max-width: 30em;
	font-weight: bold;
	text-transform: none;

	div.response {
		float: unset;
		top: unset;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	a {
		color: $color-light;
		font-weight: bold;
		text-decoration: none;
	}

	#mce-success-response {
		color: $color-ok;
	}

	#mce-error-response {
		color: $color-fail;
	}
}

#mc-embedded-subscribe {
	display: inline-block;
	margin: 0;
}

/* form stuff */
.newsletter-form, .footer__items__item {
	input[type="email"] {
		display: inline;
		border: 0;
		height: 40px;
		padding: 8px 5px;
		margin: 0;
		vertical-align: top;
		background-color: $signup-bg-color;
		font-size: $footer-font-size;
		min-width: 0;
		width: 100%;
		max-width: 100%;
	}
	
	#mc-embedded-subscribe {
		width: 100%;
		
		@media (min-width: $smallSplit) {
			width: auto;
		}
	}
}


/*
 * FOOTER
 */
.footer {
	width: 100%;
	font-size: $footer-font-size;
	line-height: (20/14);
	background-color: $color-testimonials;
	padding: $base-height $gutter-width/2;
	
	@media (min-width: $maxSplit) {
		padding: (4 * $base-height) $gutter-width/2 0;
	}
	
	&--light {
		background-color: $color-light;
	}
	
	a {
		color: $color-text;
		font-weight: normal;
	}
	
	.mainmenu {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 2;
		justify-content: space-between;
		width: 100%;
		margin: 0;
		padding-left: 0;
		list-style-type: none;
		float: left;
		order: 2;
		
		@media (min-width: $maxSplit) {
			width: (8 * $fullgridcol + 7 * $fullgridgutter);
			margin: 0 $fullgridgutter 0 0;
		}
		
		&__item {
			min-width: (2 * $column-width + 1 * $gutter-width);
			width: 100%;
			margin: 0 0 (1.5 * $base-height);
			
			@media (min-width: $smallSplit) {
				width: (6 * $fullgridcol + 5 * $fullgridgutter);
				margin: 0 $fullgridgutter (1.5 * $base-height) 0;
				
				&:nth-child(2n) {
					margin-right: 0;
				}
			}
			
			@media (min-width: $midSplit) {
				width: (3 * $fullgridcol + 2 * $fullgridgutter);
				
				&:nth-child(2n) {
					margin-right: $fullgridgutter;
				}
				&:last-child {
					margin-right: 0;
				}
			}
			
			@media (min-width: $maxSplit) {
				width: (2 * $fullgridcol + 1 * $fullgridgutter);
			}
			
			
			a {
				text-decoration: none;
			}
			
			a:hover {
				font-weight: $semibold;
				text-decoration: underline;
			}
		}
	}
	&--nosignup .mainmenu {
		margin-top: $base-height;
	}
	
	.submenu {
		list-style-type: none;
		padding-left: 0;
		
		&__title {
			a {
				font-weight: bold;
				text-transform: uppercase;
				
				&:hover {
					font-weight: bold;
				}
			}
		}
		
		&__item {
			margin: $base-height / 2 0;
			
			&--offer a {
				opacity: .5;
			}
		}
	}
	
	.copyright {
		width: 100%;
		padding: $base-height 0;
		text-align: center;
		
		.extra {
			margin: 0 auto;
			padding: 0 10%;
			max-width: 1000px;
			font-size: 10px;
		}
	}
}

.footer__items {
	max-width: (12 * $column-width + 11 * $gutter-width);
	margin: $base-height auto;
	font-weight: $semibold;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	
	@media (min-width: $maxSplit) {
		display: block;
		margin: 0 auto;
	}
}

.footer__items__item {
	width: 100%;
	
	@media (min-width: $midSplit) { /* half size */
		width: (6 * $fullgridcol + 5 * $fullgridgutter);
	}
	
	@media (min-width: $maxSplit) { /* third size, floated right */
		width: (4 * $fullgridcol + 3 * $fullgridgutter);
		float: right;
	}
}

.footer__items__item__group {
	margin-top: 0;
	order: 3;
	
	@media (min-width: $maxSplit) {
		width: (4 * $fullgridcol + 3 * $fullgridgutter);
		float: right;
	}
	
	.footer__items__item {
		float: left;
		margin-bottom: $base-height;
		
		@media (min-width: $midSplit) {
			&.footer__items__item--social {
				clear: left;
				margin-right: $fullgridgutter;
			}
		} 
		
		@media (min-width: $maxSplit) {
			width: 100%;
			float: none;
			margin-bottom: $base-height;
			
			&.footer__items__item--social {
				margin-right: 0;
			}
		}
	}
}

.footer__items__item--form {
	width: 100%;
	order: 1;
	
	@media (min-width: $maxSplit) {
		width: (4 * $fullgridcol + 3 * $fullgridgutter);
	}
	input[type="email"] {
		width: 100%;
		max-width: 100%;
		
		@media (min-width: $smallSplit) {
			width: calc(100% - #{$signUpButtonWidth});
			max-width: 4 * $column-width + 4 * $gutter-width;
		}
	}
}

.footer__items__item__title {
	margin: 0 0 $base-height/2;
	font-size: $footer-font-size;
	text-transform: uppercase;
	
	a {
		color: $color-secondary;
		font-weight: 600;
		text-decoration: none;
		
		&:hover {
			color: $color-secondary-hover;
		}
	}
}

.footer__items__item__info {
	color: $signup-text-color;
	font-size: 10px;
	line-height: 1.5;
	font-weight: normal;
	margin: $base-height/2 0 $base-height;
}

.social__media {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	line-height: $base-height * 1.5;
	
	.instagram,
	.facebook,
	.twitter,
	.linkedin{
		display: inline-block;
		width: 1.5 * $base-height;
		margin-right: $base-height;
		
		@media (min-width: $midSplit) {
			width: 2 * $base-height;
		}
		
		svg {
			display: inline-block;
		}
	}
}

.footer__items__item__memberships {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		margin: 0;
		padding: 0;
		
		img, .img {
			float: left;
			width: $column-width;
			margin: $base-height/4 $gutter-width $base-height 0;
			box-sizing: border-box;
		}
		p, .desc {
			vertical-align: top;
			display: block;
			font-size: 10px;
			line-height: 1.4;
			font-weight: normal;
			
			span {
				white-space: nowrap;
			}
		}
	}
}

.newsletter-form {
	margin-top: 0;
	width: (4 * $fullgridcol + 3 * $fullgridgutter);
	float: right;
	
	@media (min-width: $smallSplit) {
		input[type="email"] {
			width: calc(100% - #{$signUpButtonWidth});
			max-width: 100%;
		}

		#mc-embedded-subscribe {
			width: auto;
		}
	}
}

.overlay .newsletter-form {
	width: auto;
	float: none;
	
	#mc_embed_signup {
		form {
			margin: 0;
		}
		
		input[type="email"] {
			width: 100%;
			
			@media (min-width: $smallSplit) {
				width: calc(100% - #{$signUpButtonWidth});
				max-width: 4 * $column-width + 4 * $gutter-width;
			}
		}
	}
}
