$background-color: rgba(0,0,0,.7);

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $background-color;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 3; // Has to be less than one from .notice to not cover it
}

.overlay--hide {
	display: none;
}

.overlay__close {
	position: absolute;
	top: 0;
	right: 0;
	width: $gutter-width * 2;
	height: $base-height * 2;
	min-width: $gutter-width;
	padding: 0;
	color: $color-static;
	background-color: $color-light;
	border-radius: 50%;
	font-size: 30px;
	line-height: 0;

	> svg {
		width: 16px;
		height: 16px;

		fill: $color-static;
	}

	&:hover {
		background-color: $color-light;
		
		> svg {
			fill: $color-text;
		}
	}
}

.overlay__content {
	position: relative;
	width: (8 * $column-width + 7 * $gutter-width);
	max-width: 100%;
	margin: $base-height $gutter-width;
	padding: 3 * $base-height $column-width;
	background-color: $color-light;
	max-height: 100%;
	overflow: scroll;
	
	@media (max-width: 600px) {
		padding: $base-height $gutter-width;
	}
}

/*
 * Mailchimp form in overlay
 */
.overlay__content {
	#mc_embed_signup form {
		/*padding-bottom: $base-height;*/
	}
	input[type="email"] {
		display: inline;
		border: 0;
		height: 40px;
		width: 4 * $column-width + 3 * $gutter-width;
		padding: 8px 5px;
		vertical-align: top;
		background-color: $color-grey;
		font-size: $footer-font-size;
		
		@media (max-width: 520px) {
			width: calc(100% - 140px);
			min-width: 100px;
		}
		@media (max-width: 380px) {
			/*width: 100%;*/
		}
	}
}

.overlay-form__title {
	margin: 0 .75em 0 0;
	font-size: 22px !important;
	font-weight: normal !important;
	font-family: 'Open Sans', sans-serif;
}

.overlay-form__note {
	font-size: 16px;
	
	h4, p, ul {
		margin: $base-height/2 0;
	}
	h4 {
		text-transform: uppercase;
	}
	ul {
		margin: $base-height/2 0;
		padding: 0 0 0 1em;
	}
	.overlay-form__footnote {
		font-size: .875em;
		font-style: italic;
	}
}

.response:not(:empty) ~ .overlay-form__title {
	display: none;
}

.overlay-form__info {
	color: $signup-text-color;
	font-size: 10px;
	font-weight: normal;
}

.overlay--offer {
	z-index: 2147483001;
	
	.overlay__content {
		margin: 0;
	}
	.overlay-form__title {
		line-height: 1.333;
		margin-right: $gutter-width * 1.5;
	}
	p {
		font-size: .875em;
		
		&:last-child {  // firefox issue when overflow: scroll
			margin-bottom: -$base-height;
			padding-bottom: $base-height;
		}
	}
	h4, ul, .overlay-form__footnote {
		margin: 0;
		font-size: .75em;
	}
	.btn {
		width: 100%;
	}
	@media (min-width:360px) {
		p {
			font-size: 1em;
		}
	}
	@media (min-width:375px) {
		.overlay__content {
			margin: $base-height $gutter-width;
		}
	}
}