.contact {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 500; // Hide other buttons

	padding: 20px 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	font-size: 16px;
	background-color: rgba(0, 0, 0, .7);

	.overlay__close {
		top: -20px;
		right: -20px;
	}
}

.contact--hide {
	display: none;
}

.contact__close {
	position: absolute;
	top: 0;
	right: 0;
	width: $gutter-width * 2;
	height: $base-height * 2;
	min-width: $gutter-width;
	padding: 0;
	color: $color-static;
	background-color: transparent;
	font-size: 30px;
	line-height: 0;

	> svg {
		width: 16px;
		height: 16px;

		fill: $color-static;
	}

	&:hover {
		background-color: transparent;
		
		> svg {
			fill: $color-text;
		}
	}
}

.contact__wrap {
	position: relative;
	max-width: 400px;
	margin: 0 auto;
	padding: 60px 80px;
	background-color: $color-testimonials;

	> * {
		margin: 0 0 20px;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.contact__title {
	width: 100%;
	padding: 0 20px;
	color: $color-text;
	font-size: 22px;
	font-weight: normal;
	text-align: center;
}

.contact__description {
	max-width: 30em;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.contact__options {
	list-style-type: none;
	padding: 0;

	font-size: 14px;
	color: $color-legal;
}

.contact__option {
	display: flex;
	align-items: start;

	&:not(:last-child) {
		margin-bottom: 20px;
	}

	input {
		display: none;
	}

	label {
		line-height: 1;
	}

	label:before {
		display: inline-block;
		float: left;
		width: 16px;
		height: 16px;
		margin: 0 10px 0 0;

		content: "";
		background-image: url('data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMjYuOSA4LjkgMTYuMSAxMi4xIj48Zz48cG9seWdvbiBzdHlsZT0iZmlsbDojRkZGIiBwb2ludHM9IjM0LjIsMTkuNCAzMi42LDIxLjEgMzAuOSwxOS40IDI2LjksMTUuNSAyOC42LDEzLjggMzIuNiwxNy44IDQxLjQsOC45IDQzLjEsMTAuNiIvPjwvZz48L3N2Zz4=');
		background-size: 60% 60%;
		background-repeat: no-repeat;
		background-position: center center;
		border: 1px solid $color-secondary;
		background-color: #fff;
		border-radius: 50%;
	}

	input:checked + label:before {
		background-color: $color-secondary;
	}
}

.contact__actions {
	width: 100%;
	text-align: center;
}
