$num_items: 5;
$arrow-size: 70px;

.list {
	width: 100%;
	overflow: hidden;
	background-color: $color-testimonials;
	
}

.list__wrap {
	max-width: 12 * $column-width + 12 * $gutter-width;
	margin: (4 * $base-height) auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: relative;
}

.list__options--narrow {
	.list__option {
		width: 160px;
	}
}

.list__span--nowrap {
	white-space: nowrap;
}

.list__action {
	display: none;
}

.list__option {
	position: relative;
	top: 2 * $base-height;
	width: 2 * $column_width + 1 * $gutter-width;
	text-align: center;
	cursor: pointer;
	margin-top: -(2 * $base-height);
	z-index: 1;
}

.list__option-number,
.list__option-iconwrap {
	display: inline-block;
	width: 4 * $base-height;
	height: 4 * $base-height;
	margin: $base-height / 2;

	background-color: $color-static;
	border-radius: 50%;
	transition: all $animation_duration;
}

.list__option-number:hover,
.list__option-iconwrap:hover {
	background-color: $color-text;
}

.list__option-number {
	padding-top: 1.2 * $base-height;
	color: $color-light;
	font-size: 1.6 * $base-height;
	font-weight: bold;
	line-height: 1;
}

.list__option-icon {
	width: 4 * $base-height;
	height: 4 * $base-height;
	fill: $color-light;
}
.list__option-icon.icon-secure {
	position: relative;
	left: 2px;
	top: 1px;
}

.list__option-title {
	display: inline-block;
	width: 100%;
	height: $base-height;
	margin-top: $base-height;
	text-transform: uppercase;
	font-family: "azo-sans-web", sans-serif;
}

.list__action:checked + .list__option {
	z-index: 2;

	.list__option-number,
	.list__option-iconwrap {
		width: 5 * $base-height;
		height: 5 * $base-height;
		margin: 0;
		padding-top: $base-height / 2;
		text-align: center;
		background-color: $color-active;
		transition: all $animation_duration;
		box-shadow: 0 0 12px rgba(0, 0, 0, .1);
	}

	.list__option-number {
		padding-top: 1.7 * $base-height;
	}

	.list__option-title {
		font-family: "azo-sans-web", sans-serif;
		margin-top: $base-height;

		color: $color-secondary;
		font-weight: bold;
	}
}

.list__items-wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	top: -3 * $base-height;
	margin: 0 $gutter-width/2 (-3 * $base-height);

	background-color: $color-light;

	.nav__control {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;

		width: $arrow-size;
		height: $arrow-size;
		top: 50%;
		transform: translateY(-$arrow-size / 2);
		padding: 10px;

		background-color: $color-light;
		fill: $color-static;
		cursor: pointer;

		&--left {
			left: 0;
		}

		&--right {
			right: 0;
		}
	}
}

.list__items-window {
	width: calc(100% - 160px);
	margin: 0 80px;
	overflow: hidden;
}

.list__items {
	width: $num_items * 100%;
	overflow: hidden;
	margin: (8 * $base-height) 0 0;
	padding-left: 0;
	list-style-type: none;
}

.list__item {
	float: left;
	width: 100% / $num_items;

	display: flex;
}

.list__itemcontent {
	width: 50%;
	border-right: ($gutter-width / 2) solid transparent;
	padding: 0 0 (3 * $base-height);
	
	p {
		margin: 0 0 $base-height/2;
	}

	p:last-child {
		margin: 0 0 2 * $base-height;
	}

	ul {
		padding-left: 1.5 * $base-height;
		margin: 0 0 2 * $base-height;
		list-style-type: disc;
	}
	em {
		font-style: normal;
		font-weight: $semibold;
		color: #000;
	}
}

.list__itemheader {
	font-family: "open-sans", sans-serif;
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 $base-height;
}

.list__itemimage {
	width: 50%;
	padding-left: $gutter-width / 2;
	padding-bottom: $base-height;
	line-height: 0;

	img {
		width: 100%;
	}
}

.list__footnote {
	order: 3;
	margin: 2 * $base-height 0;
	p {
		margin: 0;
	}
	
	@media (max-width: 700px) {
		margin: $base-height $gutter-width/2;
	}
}


/* Switcher */
.list__action:checked ~ .list__items-wrap .list__items {
	transition: margin-left $animation_duration;
}
#opt1:checked ~ .list__items-wrap .list__items,
#opt6:checked ~ .list__items-wrap .list__items {
	margin-left: 0;
}
#opt2:checked ~ .list__items-wrap .list__items,
#opt7:checked ~ .list__items-wrap .list__items {
	margin-left: -100%;
}
#opt3:checked ~ .list__items-wrap .list__items,
#opt8:checked ~ .list__items-wrap .list__items {
	margin-left: -200%;
}
#opt4:checked ~ .list__items-wrap .list__items,
#opt9:checked ~ .list__items-wrap .list__items {
	margin-left: -300%;
}
#opt5:checked ~ .list__items-wrap .list__items,
#opt10:checked ~ .list__items-wrap .list__items {
	margin-left: -400%;
}

@media (max-width: 960px) {
	.list__wrap {
		margin: (6 * $base-height) auto (4 * $base-height);
	}

	.list__options--narrow .list__option,
	.list__option {
		top: .5 * $base-height;
		width: 5 * $base-height;
	}

	.list__itemcontent {
		padding: $base-height (2 * $base-height);
	}

	.list__option-title {
		display: none;
	}

	.list__items{
		margin-top: 5* $base-height;
	}

	.list__itemcontent{
		padding: 0 $base-height (2*$base-height);
	}
}

@media (max-width: 900px) {
	.list__wrap {
		margin: (2 * $base-height) $gutter-width/2;
		border-left: 0;
		border-right: 0;
	}
	
	.list__options--narrow .list__option,
	.list__option {
		order: 3;
		top: -2 * $base-height;
		width: auto;
	}

	.list__options--narrow .list__option--big,
	.list__option--big {
		top: -3 * $base-height;
		width: 3.5 * $base-height;
	}

	.list__option-number,
	.list__option-iconwrap {
		width: 3 * $base-height;
		height: 3 * $base-height;
		margin: .25 * $base-height;
	}

	.list__option--big {
		.list__option-number,
		.list__option-iconwrap {
			width: 3 * $base-height;
			height: 3 * $base-height;
		}
	}

	.list__option-number {
		padding-top: $base-height;
		font-size: $base-height;
	}

	.list__option--big {
		.list__option-number--big {
			padding-top: $base-height;
		}
	}

	.list__option-icon {
		width: 3 * $base-height;
		height: 3 * $base-height;
	}

	.list__option--big {
		.list__option-icon {
			width: 3 * $base-height;
			height: 3 * $base-height;
		}
	}

	.list__option-icon.icon-secure {
		position: relative;
		left: 1px;
		top: 0;
	}

	.list__action:checked + .list__option {

		.list__option-number,
		.list__option-iconwrap {
			width: 3.5 * $base-height;
			height: 3.5 * $base-height;
			margin: 0;
			padding-top: .25 * $base-height;
		}

		.list__option-number {
			padding-top: 1.25 * $base-height;
		}
	}

	.list__action:checked + .list__option--big {

		.list__option-number,
		.list__option-iconwrap {
			width: 3.5 * $base-height;
			height: 3.5 * $base-height;
			margin: 0;
			padding-top: .25 * $base-height;
		}

		.list__option-number {
			padding-top: 1.25 * $base-height;
		}
	}

	.list__option-title {
		display: none;
	}
	.list__items-wrap {
		order: 2;
		top: 0;
		margin: 0;
	}

	.list__items {
		width: $num_items * 100%;
		overflow: hidden;
		margin: 0 0 (5 * $base-height);
		padding-left: 0;
	}

	.list__item {
		flex-direction: column-reverse;
	}	

	.list__itemcontent {
		width: 100%;
		padding: $gutter-width/2;
		border-right: 0;
	}

	.list__itemimage {
		width: 100%;
		padding: (3 * $base-height) 15%;
	}
}

@media (max-width: 700px) {
	.list__itemimage {
		width: 100%;
		padding: (3 * $base-height) 0;
	}
}

@media (max-width: 550px) {

	.list__items{
		margin: 0 0 (4 * $base-height);
	}

	.list__items-window{
		width:100%;
		margin:0;
	}

	.list__itemimage{
		padding:0;
	}

	.list__itemcontent{
		padding: (2*$base-height)  (2*$base-height) 0;
	}

	.list__option-number,
	.list__option-iconwrap {
		width: 2 * $base-height;
		height: 2 * $base-height;
		margin: .25 * $base-height;
	}

	.list__option-number {
		padding-top: .5 * $base-height;
	}

	.list__option-icon {
		width: 2 * $base-height;
		height: 2 * $base-height;
	}

	.list__action:checked + .list__option {

		.list__option-number,
		.list__option-iconwrap {
			width: 2.5 * $base-height;
			height: 2.5 * $base-height;
			margin: 0;
			padding-top: .25 * $base-height;
		}

		.list__option-number {
			padding-top: .75 * $base-height;
		}
	}

	.list__action:checked + .list__option--big {

		.list__option-number,
		.list__option-iconwrap {
			width: 3.5 * $base-height;
			height: 3.5 * $base-height;
			margin: 0;
			padding-top: .25 * $base-height;
		}

		.list__option-number {
			padding-top: 1.25 * $base-height;
		}
	}

	.list__items-wrap{
		overflow: visible;
		.nav__control{
			top: calc(65% - 35px);
			padding: 0;
			
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;
			background: transparent;
			width: 20px;
			height: 40px;
			display: block;

			svg{
				position: relative;
				top: -25px;
				height: 50px;
				width: 50px;
			}

			&.left {
				border-right: 20px solid #fff;
				left: -20px;
				svg{
					left: -5px;
				}
			}

			&.right {
				border-left: 20px solid #fff;
				right: -20px;
				svg{
					left: -45px;
				}
			}
		}
	}
}