/*
 * BIGPHOTO
 */

.bigphoto {
	&.bigphoto--connected {
		.bigphoto__wrapper {
			margin-top: 0;
		}
	}
	&.bigphoto--band {
		background: $color-testimonials;
		overflow: hidden;
	}
}

.bigphoto__wrapper {
	width: $fullPageWidth;
	height: 24 * $base-height;
	max-width: 100%;
	margin: (4 * $base-height) auto;
	overflow: hidden;
	position: relative;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	transition: margin-bottom .5s, margin-top .5s;
	
	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		width: calc(100% - 20px);
		height: 100%;
		border: $gutter-width/2 solid $color-testimonials;
		border-width: 0 $gutter-width/2;
		transition: opacity .5s;
	}
}

.bigphoto__text {
	position: absolute;
	right: (1 * $column-width + 1 * $gutter-width) / (12 * $column-width + 13 * $gutter-width) * 100%;
	bottom: 60px / 480px * 100%;
	margin-left: (1 * $column-width + 1 * $gutter-width) / (12 * $column-width + 13 * $gutter-width) * 100%;
	padding: 5px 10px;
	font-family: "azo-sans-web", sans-serif;
	font-weight: 700;
	background: rgba(255, 255, 255, .75);
	color: $color-text;
	text-transform: uppercase;
}

@media (max-width: 960px) {
	.bigphoto__wrapper {
		margin: 0;
		
		&:before {
			opacity: 0;
		}
	}
}

@media (max-width: 374px) {
	.bigphoto__wrapper {
		height: 0;
		padding-top: 480px / 375px * 100%;
	}
}

@media (max-width: 667px) {
	.bigphoto__wrapper--wide {
		height: 0;
		padding-top: 480px / 667px * 100%;
	}
}
