$font-default: 16px;

$font-verylarge: (48px / $font-default) * 1em;
$font-large: (24px / $font-default) * 1em;
$font-medium: (22px / $font-default) * 1em;
$font-regular: (16px / $font-default) * 1em;
$font-small: (12px / $font-default) * 1em;

$color-totals: #ffffff;

$option-selected-height: $base-height;
$package-item-price-space: 3em;

body:not(.js-on) .js-only {
	display: none;
}

.icontent__text.error {
	color: $color-fail;
	fill: $color-fail;
}

.shop__notice {
	color: #b855ff;
	font-size: $font-small;
	line-height: 1 * ($base-height/$font-default) * (1em/$font-small);
	
	svg {
		display: block;
		width: 16px;
		height: 16px;
		margin: 0 0 10px;
	}
}
 
.error {
	text-align: center;

	.icontent__subtitle {
		font-weight: 400;
		font-size: $font-large;
		line-height: 2 * ($base-height/$font-default) * (1em/$font-large);  /* make line-height 2 * $base-height */
		margin: 0 0 $base-height;
	}
}

.error__icon {
	margin-bottom: 30px;

	svg {
		width: 30px;
		height: 30px;
	}
}

/*
 * Cart section
 */
.cart {
	background-color: $color-testimonials;
	
	&__title {
		font-size: $font-large;
		line-height: 2 * ($base-height/$font-default) * (1em/$font-large);
		text-transform: uppercase;
		margin-top: $base-height;
	}
	
	&__fieldset {
		max-width: $fullPageWidth;
		margin: 0 auto;
		padding: (2 * $base-height) ($gutter-width / 2);
		border: 0 none;
	}
	
	&__section {
		margin: 0 auto;
		
		&__title {
			position: relative;
			font-weight: 400;
			font-size: $font-large;
			line-height: 2 * ($base-height/$font-default) * (1em/$font-large);
			margin: 0 0 $base-height;
		}
		
		&__description {
			margin: 0 0 $base-height;
			font-size: $font-regular;
		}
	}
	
	&__options {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		margin: (2 * $base-height) 0 0;
		padding: 0;
	}
}

.cart__option {
	overflow: hidden;
	position: relative;
	
	input[type="radio"],
	input[type="checkbox"] {
		display: none;
	}

	label {
		position: relative;
		display: block;
		max-width: 100%;
		box-sizing: content-box;
		background-color: $color-light;
		color: $color-text;
		border: 1px solid $color-static;
		border-bottom-width: 1px + $option-selected-height;
		padding: 19px;
		margin: 0 0 $base-height;
		text-decoration: none;
		cursor: pointer;
		
		&:after {
			position: absolute;
			bottom: - $option-selected-height;
			left: 0;
			right: 0;
			content: "CLICK TO SELECT";
			text-align: center;
			color: $color-light;
			font-size: $font-small;
			line-height: $option-selected-height / ($font-default * $font-small/1em);
			letter-spacing: 1px;
			
			@media (pointer: coarse) {
				content: "TAP TO SELECT";
			}
		}
		
	}
	&--withbutton label {
		cursor: default;
		margin-bottom: 0;
		
		&:after {
			content: "CONTACT US";
		}
	}
	
	&__title {
		margin: 0 0 $base-height/2;
		font-size: $font-medium;
		line-height: 2 * ($base-height/$font-default) * (1em/$font-medium);
		font-weight: normal;
		text-align: left;
		
		&__plus {
			padding: 0;
		}
	}
	
	&__features {
		font-size: $font-small;
		line-height: 1 * ($base-height/$font-default) * (1em/$font-small);
		color: $color-legal;
		margin: 0 0 (3 * $base-height);
		padding: 0;
		list-style: disc;
		
		li {
			margin: 0 0 $base-height/4 $gutter-width;
		}
	}
	&--withbutton &__features {
		padding-bottom: $base-height;
	}
	&__features + &__features {
		margin-top: - 3.5 * $base-height;
		margin-bottom: 2.5 * $base-height;
	}
	&__features:last-child {
		margin-bottom: 3 * $base-height;
	}
	&__features + &__features:last-child {
		margin-bottom: $base-height/2;
	}
	
	&__footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 ($gutter-width - 1) ($base-height - 1);
	}
	&--withbutton &__footer {
		padding-bottom: $base-height * 2 - 1;
	}
	
	&__price {
		color: $color-text;
		font-size: 2 * $font-default;  /* 32px */
		line-height: .75em;
		margin: 0;
		text-align: right;
		
		span {
			font-size: ($font-default * $font-small/1em); /* 12 px */
			line-height: 1em;
		}
	}
	
	&__button {
		position: relative;
		top: - 2 * $base-height;
		width: 100%;
	}
	
	input:checked + label {
		border: 2px solid $color-main;
		border-bottom-width: 2px + $option-selected-height;
		padding: 18px;
		
		&:after {
			content: "SELECTED";
			bottom: - 1px - $option-selected-height;
		}
		
		.cart__option__footer {
			padding: 0 ($gutter-width - 2) ($base-height - 2);
		}
	}
}


/*
 * Totals
 */

.total {
	width: 100%;
	border: 0 none;
	background: $color-totals;
		
	&__wrap {
		max-width: $fullPageWidth;
		padding: 3 * $base-height ($gutter-width / 2) 2 * $base-height;
		margin: 0 auto;
	}
	
	&__title {
		margin-bottom: 2 * $base-height;
		font-size: $font-large;
		line-height: 2 * ($base-height/$font-default) * (1em/$font-large);
		text-transform: uppercase;
	}
	
	&__section {
		display: flex;
		flex-direction: column;
	}
	
	&__packages {
		margin: 0;
		list-style-type: none;
		padding: 0;
		position: relative;
		
		&__title {
			font-size: $font-medium;
			line-height: 2 * ($base-height/$font-default) * (1em/$font-medium);
			font-weight: normal;
		}
	}
	
	&__package {
		display: none;
		padding: 0;
		margin: 0 0 $base-height;
	
		&.show {
			display: block;
		}
		
		&__item {
			margin: 0 0 $base-height;
			padding-right: $package-item-price-space;
			line-height: 1 * ($base-height/$font-default) * (1em/$font-regular);
			position: relative;
			list-style: none;
			overflow: hidden;
			
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				bottom: 4px;
				border-bottom: 2px dotted $color-text;
				z-index: 1;
				left: 0;
			}
			
			&__desc, 
			&__price {
				position: relative;
				z-index: 2;
				background-color: $color-totals;
			}
			&__desc {
				padding-right: 5px;
			}
			&__price {
				float: right;
				padding-left: 5px;
				right: -$package-item-price-space;
			}
		}
	}
	
	&__notice {
		font-size: $font-small;
		line-height: 1 * ($base-height/$font-default) * (1em/$font-small);
		color: $color-text;
		margin: $base-height 0;
		
		em {
			font-style: normal;
			text-transform: uppercase;
		}
	}
	
	&__summary {
		margin: 0;
		text-align: center;
		
		&__price {
			font-size: $font-verylarge;
			line-height: 3 * ($base-height/$font-default) * (1em/$font-verylarge);
			font-weight: normal;
		}
		
		.required {
			list-style-type: none;
			margin: $base-height auto;
			padding: 0;
			color: $color-legal;
			width: 3 * $column-width + 4 * $gutter-width;
			
			&__option {
				font-size: $font-small;
				line-height: 1 * ($base-height/$font-default) * (1em/$font-small);
				position: relative;
				margin: 0 0 10px;
				text-align: left;
				
				input {
					position: absolute;
					margin-left: 60px;
					left: -20px;
				}
				
				label {
					margin-left: $column-width;
				}
			
				span:after {
					content: "";
					display: block;
					width: 20px;
					height: 20px;
					border: 1px solid blue;
					background-color: white;
					border-radius: 50%;
				}
			}
			
			&__errormsg {
				color: $color-fail;
				
				&:empty {
					display: none;
				}
			}
		}
	}
}

#connect_notice {
	display: none;
	
	&.show {
		display: block;
	}
}

@media (min-width: 667px) {
	.cart {
		&__options {
			flex-direction: row;
  			flex-wrap: wrap;
			justify-content: space-between;
		}
		&__section {
			&--package {
				.cart__option {
					height: 16.75 * $base-height;
					
					label {
						min-height: 12.75 * $base-height;
					}
					
					&:last-child {
						height: auto;
						
						label {
							min-height: 0;
						}
					}
				}
			}
			&--installation {
				.cart__option {
					height: 13 * $base-height;
					
					label {
						min-height: 9 * $base-height;
					}
					
					&:last-child {
						height: auto;
						
						label {
							min-height: 0;
						}
					}
				}
			}
		}
	}
	.cart__option {
		width: 6 * $fullgridcol + 5 * $fullgridgutter;
		
		&:last-child {
			width: 100%;
			
			ul.cart__option__features {
				column-count: 3;
			}
		}
	}
}

@media (min-width: 768px) {
	.total {
		&__title {
			margin-bottom: 3 * $base-height;
		}
		&__section {
			flex-direction: row;
			justify-content: space-between;
		}
		&__packages {
			width: 6 * $fullgridcol + 5 * $fullgridgutter;
		}
		&__summary {
			width: 6 * $fullgridcol + 5 * $fullgridgutter;
		}
	}
}

@media (min-width: 960px) {
	.cart {
		&__options {
			flex-wrap: nowrap;
		}
		&__section {
			&--package {
				.cart__option {
					height: 20.25 * $base-height;
					
					label {
						min-height: 16.25 * $base-height;
					}
					
					&:last-child {
						height: 20.25 * $base-height;
						
						label {
							min-height: 16.25 * $base-height;
						}
					}
				}
			}
			&--installation {
				.cart__option {
					height: 13.5 * $base-height;
					
					label {
						min-height: 9.5 * $base-height;
					}
					
					&:last-child {
						height: 13.5 * $base-height;
						
						label {
							min-height: 9.5 * $base-height;
						}
					}
				}
			}
		}
	}
	.cart__option {
		width: 4 * $fullgridcol + 3 * $fullgridgutter;
		
		&:last-child {
			width: 4 * $fullgridcol + 3 * $fullgridgutter;
			
			ul.cart__option__features {
				column-count: 1;
			}
		}
	}
	.total {
		&__packages {
			width: 7 * $fullgridcol + 6 * $fullgridgutter;
		}
		&__summary {
			width: 5 * $fullgridcol + 4 * $fullgridgutter;
		}
	}
}
