/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * azo-sans-web:
 *   - http://typekit.com/eulas/00000000000000003b9afbbc
 *   - http://typekit.com/eulas/000000000000000000013f4e
 *   - http://typekit.com/eulas/000000000000000000013f8f
 * open-sans:
 *   - http://typekit.com/eulas/000000000000000000011c34
 *   - http://typekit.com/eulas/000000000000000000011c36
 *   - http://typekit.com/eulas/000000000000000000011c38
 *   - http://typekit.com/eulas/000000000000000000011c3b
 *   - http://typekit.com/eulas/000000000000000000011c3c
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-03-26 10:42:11 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=vfy2phd&ht=tk&f=14541.14543.14545.14548.14549.18436.18438.18445&a=16372337&app=typekit&e=css");

@font-face {
font-family:"open-sans";
src:url("https://use.typekit.net/af/2553b3/000000000000000000011c34/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/2553b3/000000000000000000011c34/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/2553b3/000000000000000000011c34/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"open-sans";
src:url("https://use.typekit.net/af/2eef30/000000000000000000011c36/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/2eef30/000000000000000000011c36/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/2eef30/000000000000000000011c36/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n8&v=3") format("opentype");
font-style:normal;font-weight:800;
}

@font-face {
font-family:"open-sans";
src:url("https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/4c54ad/000000000000000000011c38/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=i4&v=3") format("opentype");
font-style:italic;font-weight:400;
}

@font-face {
font-family:"open-sans";
src:url("https://use.typekit.net/af/827015/000000000000000000011c3b/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/827015/000000000000000000011c3b/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/827015/000000000000000000011c3b/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

@font-face {
font-family:"open-sans";
src:url("https://use.typekit.net/af/270ae4/000000000000000000011c3c/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/270ae4/000000000000000000011c3c/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/270ae4/000000000000000000011c3c/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n6&v=3") format("opentype");
font-style:normal;font-weight:600;
}

@font-face {
font-family:"azo-sans-web";
src:url("https://use.typekit.net/af/b4692e/00000000000000003b9afbbc/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/b4692e/00000000000000003b9afbbc/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/b4692e/00000000000000003b9afbbc/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n9&v=3") format("opentype");
font-style:normal;font-weight:900;
}

@font-face {
font-family:"azo-sans-web";
src:url("https://use.typekit.net/af/9aa4fe/000000000000000000013f4e/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/9aa4fe/000000000000000000013f4e/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/9aa4fe/000000000000000000013f4e/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

@font-face {
font-family:"azo-sans-web";
src:url("https://use.typekit.net/af/9dc3b1/000000000000000000013f8f/27/l?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9dc3b1/000000000000000000013f8f/27/d?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9dc3b1/000000000000000000013f8f/27/a?primer=303ead5937c251484fa6af42166416d05dd12411b3fbfc9ae336ce2de69ae5e5&fvd=n4&v=3") format("opentype");
font-style:normal;font-weight:400;
}

.tk-open-sans { font-family: "open-sans",sans-serif; }
.tk-azo-sans-web { font-family: "azo-sans-web",sans-serif; }
