/*
 * Colors
 */
$color-main: #B855FF;
$color-main-hover: #7900F9;
$color-secondary: #578FFF;
$color-secondary-hover: #0062FF;
$color-active: #00EABD;
$color-static: #AFB0B2;
$color-bg: #38393F;
$color-text: #222;
$color-light: #fff;
$color-legal: #666;
$color-testimonials: rgb(247, 247, 247);
$color-grey: #ddd;

$color-ok: #00D3B2;
$color-fail: #ff7070;

/*
 * Sizes
 */
$base-height: 20px;
$column-width: 60px;
$gutter-width: 20px;
/* percentages of 940 */
$fullgridgutter: 100 / ((12 * 3) + 11) * 1%;
$fullgridcol: 3 * $fullgridgutter;
$fullPageWidth: (12 * $column-width + 12 * $gutter-width);

$signUpButtonWidth: (2 * $column-width + 1 * $gutter-width);

/*
 * Other variables
 */
$semibold: 600;
$animation_duration: .3s;
$navigation-collapsed-max: 767px;
